$mdc_medyklin: mdc-pne;

$cor-0: #424242;
$cor-1: #513268;
$cor-2: #c1a9cc;
$cor-3: #d7d7e1;
$cor-4: #6a507b;
$cor-5: #d5cfda;
$cor-6: #ccb8d6;
$cor-7: #dcd0e4;
$cor-8: #e8e1ee;
$cor-9: #f2eef5;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;