.#{$mdc_medyklin} {
  .caixa--0 {
    @include ard-std-caixa($padding: 0);

    &__filho--1 {
      display: flex;
      font-style: normal;
      font-weight: normal;
      padding: 0;
      width: -webkit-fill-available;

      .caixa--0__neto--1 {
        display: block;
        background-color: $cor-4;
        color: #fff;
        flex-shrink: 0;
        font-family: ArialMTStd-Black;
        margin: 0;
        padding: 8px 8px 3px;
        text-align: left;
        -webkit-flex-shrink: 0;
      }

      .caixa--0__neto--2 {
        color: $cor-4;
        display: block;
        font-family: ArialMTStd;
        font-style: italic;
        margin: 0;
        padding: 8px 8px 3px;
        text-align: left;
        width: -webkit-fill-available;
      }
    }

    &__filho--2 {
      display: block;
      border: 1px solid $cor-4;
      overflow: hidden;
      width: -webkit-fill-available;

      .tabela-linha {
        display: block;
        padding: 0;
        border-top: 1px solid $cor-4;

        .paragrafo {
          font-family: ArialMTStd;
          padding: 10px 10px 5px;
          margin-top: 0;
        }
      }

      .paragrafo {
        font-family: ArialMTStd;
        padding: 10px 10px 5px;
      }
    }
  }
}