$mdc_medyklin: mdc-hep;

$cor-0: #424242;
$cor-1: #bc9a2a;
$cor-2: #93847e;
$cor-3: #bbafa7;
$cor-4: #c7aa50;
$cor-5: #f0e8d5;
$cor-6: #a59792;
$cor-7: #c1b7b3;
$cor-8: #d5cfcc;
$cor-9: #e7e3e1;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;