.#{$med_medwriters} {
  .questoes {
    font-family: NotoSans-Italic;
    border-left: 2px solid $cor-1;

    .titulo-questoes {
      font-family: NotoSans-Italic;
    }

    .botao-questoes {
      background-color: $cor-1;
      border-color: $cor-2;
      font-family: NotoSans-Regular;
    }

    .resposta-questoes {
      font-family: NotoSans-Regular;
    }
  }
}
