.#{$med_mederi} .topico {
  &--h1 {
    display: block;
    color: $cor-1;
    font-size: 1.3em;
    font-family: NotoSans-Regular;
    padding: 5px 5px 0 0;
    width: -webkit-fill-available;

    area-indice & {
      font-size: 0.85rem;
      padding: 0;
      border-bottom-width: 4px;
    }
  }
}