$intensivao: racipe;

$cor-0: #000;

$cor-1: #009597;
$cor-2: #08b89d;
$cor-3: #faa61a;

$cor-h3: #bce4dc;
$cor-fundo-contexto: #a8e6dd;
$cor-fundo-questoes-alt: #feedd1;
$cor-fundo-tabela: #e6f5f5;
$cor-fundo-tabela-alt: #def1ed;
$cor-fundo-tabela-h3: #45c9b5;