@font-face {
  font-family: UniversLTStd_0;
  src: url(../../fonts-componentes/UniversLTStd_0.otf);
}

@font-face {
  font-family: UniversLTStdLight;
  src: url(../../fonts-componentes/UniversLTStd-Light.otf);
}

// ../../../../../fonts-componentes/
