.#{$med_medwriters} {
  .tabela-caixa {
    @include ard-std-caixa($padding: 10px 0);

    // Remove a margin caso haja tabela caixa dentro de tabela caixa...
    .tabela-caixa {
      margin: 0;
    }

    .tabela-linha:not(.sem-borda) {
      border-bottom: none;
    }

    .tabela-linha {
      border-left: 2px solid $cor-1;

      &.sem-borda {
        border-left: none;
        display: block;
        border-bottom: 2px solid $cor-1;
      }

      &.border-left-0 {
        border-left-width: 0px !important;
      }

      .tabela-coluna {
        &.tabela--h1 {
          color: $cor-1;
          font-size: 1.4em;
          border-bottom: none;
          padding: 1px 1px 1px 10px;

          font-family: NotoSans-Bold;
        }

        &.tabela--h2 {
          color: $cor-15;
          border-bottom: none;
          padding: 1px 1px 1px 10px;

          font-family: NotoSans-Regular;
          font-size: 0.9em;
        }
      }
    }

    .tabela-coluna {
      padding: 8px 8px 4px;
      border-bottom: 2px solid $cor-13;

      &.centralizado-vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &.borda-dir {
        border-right: 1px solid $cor-13;
      }

      .paragrafo.negrito,
      .paragrafo .negrito {
        font-family: NotoSerif-Bold;
      }

      $cores-fundo: (
        0: #fff,
        3: $cor-1,
        4: $cor-12,
        5: $cor-14,
        6: $cor-15,
        7: $cor-2,
        8: transparent,
      );

      @each $key, $value in $cores-fundo {
        &.tabela--h#{$key} {
          background-color: #{$value};

          @if $key==3 {
            color: #fff;
            font-family: NotoSerif-SemiBold;
            border-bottom: 2px solid #fff;
						.paragrafo {
							font-family: NotoSerif-SemiBold;
							@include negrito(NotoSerif-SemiBold);
						}
          }

          @if $key==4 {
            color: $cor-15;
            font-family: NotoSerif-SemiBold;
            border-bottom: 2px solid #fff;
          }

          @if $key==6 or $key==7 {
            border-bottom: none;
          }
          @if $key==6 or $key==7 {
            color: #fff;
          }
        }
      }

      .paragrafo {
        font-family: NotoSans-Regular;
        font-size: 1em;
        &.borda-bot {
          border-bottom: 1px solid $cor-14;
        }
      }
    }

    .tabela-linha:last-child .tabela-coluna {
      border-bottom: none;
    }

    .paragrafo.legenda-tabela {
      display: block;
      font-size: 0.8em;
      line-height: 1.1;
      padding: 10px;
      border-left: 2px solid $cor-1;
    }
  }
}
