.#{$mdc_medyklin} {
  .paragrafo,
  button.btn-tool-color,
  div.color-option {
    .destaque--1,
    &.destaque--1 {
      color: $cor-1;
    }

    &.destaque--2,
    .destaque--2 {
      color: $cor-2;
    }

    .destaque--3,
    &.destaque--3 {
      color: $cor-3;
    }
  }
}
