.#{$mdc_medyklin} {
  .paragrafo {
    font-family: TimesNRMTStd-Regular;
    margin-bottom: $margem-paragrafo;
    line-height: $line-height;
    color: $cor-0;

    @include negrito(TimesNRMTStd-Bold);
    @include italico(TimesNRMTStd-Italic);
    @include negrito-italico(TimesNRMTStd-BoldItalic);

    // Legenda de imagens e tabelas
    &.legenda--1 {
      background-color: $cor-6;
      color: #fff;
      font-size: 0.8em;
      padding: 8px 8px 3px;
      font-family: ArialMTStd;
      @include negrito(ArialMTStd-Bold);
      @include italico(ArialMTStd-Italic);
      @include negrito-italico(ArialMTStd-BoldItalic);
    }

    &.capitalizado {
      &::first-letter {
        display: inline;

        color: $cor-1;
        font-size: 3.5em;
        line-height: 0.75;
      }
    }
  }
}
