.#{$int_mederi}.decoreba {

  .paragrafo,
  button.btn-tool-color,
  div.color-option {

    .destaque-primario,
    &.destaque-primario {
      color: $cor-1;
    }

    &.destaque-secundario,
    .destaque-secundario {
      color: $cor-2;
    }

    .destaque-terciario,
    &.destaque-terciario {
      color: $cor-3;
    }
  }
}