
@font-face {
	font-family: Rajdhani-Medium;
	src: url(../../../../../fonts-componentes/Rajdhani-Medium.ttf);
}
@font-face {
	font-family: Rajdhani-Bold;
	src: url(../../../../../fonts-componentes/Rajdhani-Bold.ttf);
}