.#{$medeletro} {
  .caixa--5 {
    @include quadro-geral;
    background-color: $cor-2;
    color: #fff;

    &__filho--h1 {
      @include titulo-caixa-medeletro;
    }

    .paragrafo {
      color: #fff;
    }
  }
}
