.#{$medeletro} {
  .caixa--4 {
    display: block;
    margin: $margem-caixas-r3;
    border: 1px solid $cor-2;
    padding: $padding-caixas-r3;

    &__filho--h1 {
      @include titulo-caixa-medeletro;
      color: $cor-2;
    }

    .paragrafo {
      color: $cor-0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
