$mdc_medyklin: mdc-end;

$cor-0: #424242;
$cor-1: #e3a22a;
$cor-2: #ffcc7c;
$cor-3: #cecc9d;
$cor-4: #e8b255;
$cor-5: #f9ecd8;
$cor-6: #ffd694;
$cor-7: #ffe4b9;
$cor-8: #ffedd2;
$cor-9: #fff5e6;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;