.#{$intensivao} {
	.questoes {
		@include ard-std-caixa;

		&.variacao-gold {
			background-color: $cor-fundo-questoes-alt;

			.botao-questoes {
				background-color: $cor-3;
				border-color: #fff;
			}
		}

		.titulo-questoes {
			font-family: Exo-Italic;
			font-style: normal;
			font-size: 1.2em;
			padding: 0;
			margin-bottom: 0;

			+.paragrafo,
			+.enunciado {
				font-family: Exo-Regular;
				margin-top: $ard-margem-paragrafo;
				padding-top: 15px;
				margin-top: 15px;
				border-top: 1px solid #d4d4d4;
			}

			~.paragrafo .lista-flexivel {
				margin: 0 0 $ard-margem-lista-questoes 0;
				font-family: Exo-Italic;
			}
		}

		.enunciado {
			display: block;
			margin-bottom: $ard-margem-paragrafo;
		}

		.enunciado .paragrafo,
		.resposta-questoes {
			&.mostraRespostaQuestoes .paragrafo {
				font-family: Exo-Regular;
				@include negrito(Exo-Bold);
			}

			&>.paragrafo:first-child::before {
				content: "R. ";
				color: $cor-2;
				font-family: NotoSerif-Bold;
			}
		}

		.paragrafo {
			font-family: Exo-Regular;
			@include negrito(Exo-Bold);
			font-style: normal;
		}

		.botao-questoes {
			background-color: $cor-1;
			border-color: $cor-2;
		}
	}
}