$mdc_medyklin: mdc-neu;

$cor-0: #424242;
$cor-1: #e0ca2c;
$cor-2: #a1a96e;
$cor-3: #d5dcb7;
$cor-4: #e6d25e;
$cor-5: #f8f3dc;
$cor-6: #b1b786;
$cor-7: #cbcdad;
$cor-8: #dddeca;
$cor-9: #ecece1;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;