.#{$r3_medwriters} {
  $bullets: (bullet-3, bullet-4, bullet-1, bullet-7, bullet-2);

  @each $bullet in $bullets {
    .lista-#{$bullet} {
      &::before {
        color: $cor-2;
      }
    }

    @if ($bullet == bullet-3) {
      .lista-#{$bullet} {
        &::before {
          content: "»";
        }
      }
    }
  }	
	comp-lista-flex[data-marker*="bullet"]::before {
		color: $cor-2;
	}
}
