.#{$medimagem} {
	.questoes {
		padding: 0;
		margin-bottom: 40px;

		.botao-questoes {
			background-color: initial;
			border: none;
			text-align: center;
			font-family: FSEmericMedium;
			font-size: 1.1rem;
			color: #404040;
			padding: 6px 10px 10px 10px;
			margin: 0;
			width: -webkit-fill-available;
		}

		.resposta-questoes {
			.paragrafo {
				color: #404040;
			}
		}
	}
}