.#{$med_mederi} .cap .titulo,
caixa-indice.#{$med_mederi} .indice-style .titulo {
    &--h3 {
        display: block;
        border: 6px double $cor-1;
        border-radius: 8px;
        color: $cor-2;
        text-align: left;
        font-size: 1.6em;
        font-family: NotoSans-Regular;
        padding: 7px 10px 2px;
        width: -webkit-fill-available;
        
        area-indice & {
            font-size: 0.85rem;
            padding: 0;
            border-bottom-width: 4px;
        }
    }
}