.#{$med_mederi} .cap .titulo,
caixa-indice.#{$med_mederi} .indice-style .titulo {
  &--h2 {
    display: block;
    background-color: $cor-2;
    color: #fff;
    text-align: left;
    font-size: 1.6em;
    font-family: NotoSans-Regular;
    padding: 5px 5px 0;
    width: -webkit-fill-available;

    area-indice & {
      font-size: 1.3rem;
      border-bottom-width: 2px;
      padding: 0;
    }
  }
}