.#{$med_mederi} .cap .titulo--h10,
caixa-indice.#{$med_mederi} .indice-style .titulo--h10 {
 
    display: block;
    background-color: $cor-1;
    color: #fff;
    font-family: NotoSans-Regular;
    font-size: 1.5em;
    text-align: left;
    padding: 5px 5px 0;
    width: -webkit-fill-available;

    area-indice & {
      font-size: 1.3rem;
      border-bottom-width: 2px;
      padding: 0;
    }
}