.#{$med_mederi} .cap .container-titulo--h6,
caixa-indice.#{$med_mederi} .indice-style .container-titulo--h6 {
  display: block;
  color: $cor-3;

  .titulo--h6 {
    @include topicos;
    
    border: 2px solid $cor-2;
    color: $cor-1;
    font-family: NotoSans-Regular;
    font-size: 1.4em;

    area-indice & {
      font-size: 0.85rem;
      padding: 0;
      border-bottom-width: 4px;
    }
  }
}