.#{$med_mederi} .cap .container-titulo--h1,
caixa-indice.#{$med_mederi} .indice-style .container-titulo--h1,
.#{$med_mederi} .titulo-capitulo {    //apagar quando importar old css no dist
  display: block;

  background-color: $cor-1;
  color: #fff;
  padding: 5px 15px 5px;
  text-align: left;
  width: -webkit-fill-available;

  .titulo--h1,
  &.titulo--h1 {    //apagar quando importar old css no dist
    display: block;
    font-size: 2em;
    font-family: NotoSans-Medium;

    area-indice & {
      font-size: 1.3rem;
      border-bottom-width: 2px;
      padding: 0;
    }
  }
}