.#{$med_mederi} .cap .titulo,
caixa-indice.#{$med_mederi} .indice-style .titulo {
  &--h4 {
    display: block;
    
    border-bottom: 6px double $cor-2;
    color: $cor-1;
    text-align: left;
    font-family: NotoSans-Light;
    font-size: 1.5em;
    padding: 5px 5px 0;
    width: -webkit-fill-available;

    area-indice & {
      font-size: 0.85rem;
      padding: 0;
      border-bottom-width: 4px;
    }
  }
}