.#{$med_mederi} .cap .container-titulo--h9,
caixa-indice.#{$med_mederi} .indice-style .container-titulo--h9 {
  display: block;
  
  border-bottom: 2px solid $cor-2;
  border-top: 2px solid $cor-2;
  font-family: NotoSans-Medium;
  padding: 5px 5px;
  width: -webkit-fill-available;

  .titulo--h9 {
    display: block;
    color: $cor-1;
    font-size: 1.3em;
    line-height: 1.3em;

    area-indice & {
      font-size: 0.95rem;
      padding: 0;
      border-bottom-width: 4px;
    }
  }
}