// Para margem e padding a la Bootstrap
@mixin bloco-bootstrap(
    // nome da propriedade
    $prop,
    // direcões que serão criadas
    $direcoes: top right bottom left,
    // valores que serão criados
    // podem ser listas, com o valor numérico primeiro e os valores subsequentes sendo apenas 'novos nomes' para o mesmo bloco
    $valores: 0 10 15 20 30,
    // unidade dos valores
    $unidade: px !important,
    // nome da classe
    $nome: null,
    // se o nome for omitido, será as $letras primeiras letras do nome da propriedade
    $letras: 3
) {
    @if (not $nome) {
        $nome: str-slice(quote($prop), 1, $letras);
    }

    @each $i in $direcoes {
        @each $j in $valores {
            @each $k in $j {
                .#{$nome}#{str-slice(quote($i), 1, $letras)}-#{$k} {
                    #{$prop}-#{$i}: #{nth($j, 1)}#{$unidade};
                }
            }
        }
    }
}
