@mixin negrito($fonte) {
	span[style*="font-weight: bold;"],
	comp-lista-flex[data-mk-styles*="bold"]::before {
		font-family: $fonte;
		font-weight: normal;
	}
}

@mixin italico($fonte) {
	span[style*="font-style: italic;"],
	comp-lista-flex[data-mk-styles*="italic"]::before {
		font-family: $fonte;
		font-style: normal;
	}
}

@mixin negrito-italico($fonte, $reseta-props: false) {
	span[style*="font-weight: bold;"][style*="font-style: italic;"],
	span[style*="font-weight: bold;"] span[style*="font-style: italic;"],
	span[style*="font-style: italic;"] span[style*="font-weight: bold;"],
	comp-lista-flex[data-mk-styles*="bold"][data-mk-styles*="italic"]::before {
		font-family: $fonte;
		@if ($reseta-props) {
			font-style: normal;
			font-weight: normal;
		}
	}
}
