//LISTAS
@mixin propriedades-lista-flexivel {
    display: flex;
    width: -webkit-fill-available;
    @include std-margin(lista-flexivel);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@mixin propriedades-marcador {
    margin-right: 5px;
}

@mixin marcador {
    &__marcador {
        @include propriedades-marcador;
        display: block;
        white-space: nowrap;
        flex-shrink: 0;
        min-width: 15px;

        &.lista__marcador--largura-- {
            $tamanhos: pequena, media, grande;

            @each $i in $tamanhos {
                &#{$i} {
                    min-width: (1.25 + (0.5 * index($tamanhos, $i))) rem;
                }
            }

            &livre {
                min-width: initial;
            }
        }
    }
}

@mixin texto {
    &__texto {
        display: block;
        width: -webkit-fill-available;

        .paragrafo {
            padding: 0;
        }
    }
}