//////////////////////////
// PADRÃO DE CAIXAS:
//////////////////////////
// Comportamento que deve ser compartilhado
// por qualquer caixa, como a margem e o
// espaçamento interno.
//////////////////////////

@mixin ard-std-caixa($padding: $ard-padding-caixas, $margin: $ard-margem-caixas) {
	display: block;
	width: -webkit-fill-available;
	margin-bottom: $margin;
	padding: $padding;

	.paragrafo {
		padding: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}