@mixin propriedades-paragrafo {
  display: block;
  width: -webkit-fill-available;
  padding: 0 5px;
  @include std-margin(paragrafo);
  text-align: justify;
}

@mixin propriedades-olho($width: 1.5em, $height: 1em, $font-size: 1.25em) {
  display: inline-block;
  vertical-align: middle;
  width: $width;
  height: $height;
  font-size: $font-size !important;
  line-height: 1.1em;
  @include webkitter(mask-image, url("../../imagens-componentes/olho.png"));
  @include webkitter(mask-size, contain);
  @include webkitter(mask-repeat, no-repeat);
}

//propriedades gerais de listas
@mixin propriedades-lista {
  display: block;
  width: -webkit-fill-available;
  text-align: justify;
  text-align-last: left;
  @include std-margin(lista);
}

@mixin legenda-mederi {
  font-family: NotoSerif-Medium;
  @include negrito(NotoSerif-Bold);
  @include italico(NotoSerif-Italic);
  @include negrito-italico(NotoSerif-BoldItalic);
  color: #fff;
  padding: 5px 8px 0 8px;
}

@mixin legenda-medwriters {
  color: $cor-15;
  font-size: 0.85em;
  line-height: 1.2;
  margin-top: 3px;
  padding: 5px;
}

@mixin propriedades-triangulo($width: 1.5em, $height: 1em, $font-size: 1.25em) {
  color: transparent !important;
  display: inline-block;
  vertical-align: middle;
  width: $width;
  height: $height;
  font-size: $font-size !important;
  line-height: 1.1em;
  $url-triangulo: "../../imagens-componentes/triangulo-" +
    str-slice(quote($mdc_medyklin), 5) + ".png";
  background-image: url($url-triangulo);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: -webkit-fill-available;
  padding: 0 5px;
  @include std-margin(paragrafo);
  text-align: justify;
}
