// MEDWRITERS
@mixin titulos-medwriters {
    display: block;

    padding: 5px;
    margin: 30px 0 10px;
    width: fit-content;
}

@mixin titulo-topico {
    @include titulos-medwriters;
    color: #3c3c3b;
    font-size: 1.31em;
}

@mixin titulo-colorido-medwriters {
    display: block;

    color: #fff;
    font-family: NotoSerif-Medium;
    font-size: 1.125em;
    padding: 5px;
    margin: 30px 0 10px;
    width: fit-content;
}

//MIXIN TITULOS DE MEDERI
@mixin topicos {
    display: block;
    border-radius: 5px;
    text-align: left;
    padding: 7px 7px 2px 7px;
    width: -webkit-fill-available;
}

//MIXIN TITULOS MEDELETRO
@mixin titulos-medeletro {
    display: block;
    text-align: left;
    padding: $padding-titulos-r3;
}

@mixin titulo-caixa-medeletro {
    display: block;
    font-family: NotoSans-Bold;
    padding: 5px;
    text-align: center;
    margin-bottom: 30px;
}
