/* NOTO-SANS */

@font-face {
  font-family: NotoSans-Regular;
  src: url(../../fonts-componentes/NotoSans/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NotoSans-Light;
  src: url(../../fonts-componentes/NotoSans/NotoSans-Light.ttf);
}

@font-face {
  font-family: NotoSans-Medium;
  src: url(../../fonts-componentes/NotoSans/NotoSans-Medium.ttf);
}

@font-face {
  font-family: NotoSans-MediumItalic;
  src: url(../../fonts-componentes/NotoSans/NotoSans-MediumItalic.ttf);
}

@font-face {
  font-family: NotoSans-Bold;
  src: url(../../fonts-componentes/NotoSans/NotoSans-Bold.ttf);
}

@font-face {
  font-family: NotoSans-Italic;
  src: url(../../fonts-componentes/NotoSans/NotoSans-Italic.ttf);
}

@font-face {
  font-family: NotoSans-BoldItalic;
  src: url(../../fonts-componentes/NotoSans/NotoSans-BoldItalic.ttf);
}

@font-face {
  font-family: NotoSans-SemiBold;
  src: url(../../fonts-componentes/NotoSans/NotoSans-SemiBold.ttf);
}

@font-face {
  font-family: NotoSans-SemiBoldItalic;
  src: url(../../fonts-componentes/NotoSans/NotoSans-SemiBoldItalic.ttf);
}

@font-face {
  font-family: NotoSans-Condensed;
  src: url(../../fonts-componentes/NotoSans/NotoSans-Condensed.ttf);
}

@font-face {
  font-family: NotoSans-CondensedBold;
  src: url(../../fonts-componentes/NotoSans/NotoSans-CondensedBold.ttf);
}

@font-face {
  font-family: NotoSans-ExtraBold;
  src: url(../../fonts-componentes/NotoSans/NotoSans-ExtraBold.ttf);
}

/* NOTO-SERIF */

@font-face {
  font-family: NotoSerif-Regular;
  src: url(../../fonts-componentes/NotoSerif/NotoSerif-Regular.ttf);
}

@font-face {
  font-family: NotoSerif-Medium;
  src: url(../../fonts-componentes/NotoSerif/NotoSerif-Medium.ttf);
}

@font-face {
  font-family: NotoSerif-Italic;
  src: url(../../fonts-componentes/NotoSerif/NotoSerif-Italic.ttf);
}

@font-face {
  font-family: NotoSerif-Bold;
  src: url(../../fonts-componentes/NotoSerif/NotoSerif-Bold.ttf);
}

@font-face {
  font-family: NotoSerif-Black;
  src: url(../../fonts-componentes/NotoSerif/NotoSerif-Black.ttf);
}

@font-face {
  font-family: NotoSerif-SemiBold;
  src: url(../../fonts-componentes/NotoSerif/NotoSerif-SemiBold.ttf);
}

@font-face {
  font-family: NotoSerif-SemiBoldItalic;
  src: url(../../fonts-componentes/NotoSerif/NotoSerif-SemiBoldItalic.ttf);
}

@font-face {
  font-family: NotoSerif-BoldItalic;
  src: url(../../fonts-componentes/NotoSerif/NotoSerif-BoldItalic.ttf);
}

@font-face {
  font-family: NotoSerif-MediumItalic;
  src: url(../../fonts-componentes/NotoSerif/NotoSerif-MediumItalic.ttf);
}

@font-face {
  font-family: NotoSerif-Light;
  src: url(../../fonts-componentes/NotoSerif/NotoSerif-Light.ttf)
}