@font-face {
  font-family: ArialMTStd;
  src: url(../../fonts-componentes/ArialMTStd.otf);
}

@font-face {
  font-family: ArialMTStd-Italic;
  src: url(../../fonts-componentes/ariali.ttf);
}

@font-face {
  font-family: ArialMTStd-Bold;
  src: url(../../fonts-componentes/ArialMTStd-Bold.otf);
}

@font-face {
  font-family: ArialMTStd-BoldItalic;
  src: url(../../fonts-componentes/ArialMTStd-BoldItalic.otf);
}

@font-face {
  font-family: ArialMTStd-Black;
  src: url(../../fonts-componentes/ArialMTStd-Black.otf);
}

@font-face {
  font-family: TimesNRMTStd-Regular;
  src: url(../../fonts-componentes/TimesNRMTStd-Regular.otf);
}

@font-face {
  font-family: TimesNRMTStd-Bold;
  src: url(../../fonts-componentes/TimesNRMTStd-Bold.otf);
}

@font-face {
  font-family: TimesNRMTStd-Italic;
  src: url(../../fonts-componentes/TimesNRMTStd-Italic.otf);
}

@font-face {
  font-family: TimesNRMTStd-BoldItalic;
  src: url(../../fonts-componentes/TimesNRMTStd-BoldItalic.otf);
}

@font-face {
  font-family: FSEmeric-Regular;
  src: url(../../fonts-componentes/FSEmeric-Regular.otf);
}

@font-face {
  font-family: FSEmeric-Bold;
  src: url(../../fonts-componentes/FSEmeric-Bold.otf);
}

@font-face {
  font-family: AkzidenzGroteskMedium;
  src: url(../../fonts-componentes/AkzidenzGrotesk-Medium.otf);
}

@font-face {
  font-family: AkzidenzGrotesk-Light;
  src: url(../../fonts-componentes/AkzidenzGrotesk-Light.otf);
}

@font-face {
  font-family: AkzidenzGroteskBold;
  src: url(../../fonts-componentes/AkzidenzGrotesk-Bold.otf);
}

@font-face {
  font-family: GillSansMTPro-BookItalic;
  src: url(../../fonts-componentes/GillSansMTPro-BookItalic.otf);
}

@font-face {
  font-family: OptimaLTPro-ExtraBlack;
  src: url(../../fonts-componentes/OptimaLTPro-ExtraBlack.ttf);
}

@font-face {
  font-family: UniversLTPro-55Roman;
  src: url(../../fonts-componentes/UniversLTPro-55Roman.ttf);
}

@font-face {
  font-family: UniversLTPro-55Oblique;
  src: url(../../fonts-componentes/UniversLTPro-55Oblique.ttf);
}

@font-face {
  font-family: UniversLTPro-65Bold;
  src: url(../../fonts-componentes/UniversLTPro-65Bold.ttf);
}

@font-face {
  font-family: UniversLTStd-Bold_0;
  src: url(../../fonts-componentes/UniversLTStd-Bold_0.otf);
}

@font-face {
  font-family: UniversLTPro-65BoldOblique;
  src: url(../../fonts-componentes/UniversLTPro-65BoldOblique.ttf);
}

@font-face {
  font-family: UniversLTPro-Condensed;
  src: url(../../fonts-componentes/UniversLTPro-Condensed.ttf);
}

@font-face {
  font-family: UniversLTPro-BoldCond;
  src: url(../../fonts-componentes/UniversLTPro-BoldCond.ttf);
}

@font-face {
  font-family: UniversLTPro-CondensedObl;
  src: url(../../fonts-componentes/UniversLTPro-CondensedObl.ttf);
}

@font-face {
  font-family: UniversLTPro-75BlackOblique;
  src: url(../../fonts-componentes/UniversLTPro-75BlackOblique.ttf);
}

@font-face {
  font-family: UniversLTPro-Light;
  src: url(../../fonts-componentes/UniversLTStd-Light.otf);
}

@font-face {
  font-family: UniversLTPro-LightCond;
  src: url(../../fonts-componentes/UniversLTPro-LightCond.ttf);
}

@font-face {
  font-family: UniversLTPro-LightCondObl;
  src: url(../../fonts-componentes/UniversLTPro-LightCondObl.ttf);
}

@font-face {
  font-family: FrutigerLTPro-BlackCn;
  src: url(../../fonts-componentes/FrutigerLTPro-BlackCn.ttf);
}

@font-face {
  font-family: FrutigerLTPro-BoldCn;
  src: url(../../fonts-componentes/FrutigerLTPro-BoldCn.ttf);
}

@font-face {
  font-family: FrutigerLTStd-Cn;
  src: url(../../fonts-componentes/FrutigerLTStd-Cn.otf);
}

@font-face {
  font-family: FrutigerLTStd-Roman;
  src: url(../../fonts-componentes/FrutigerLTStd-Roman.otf);
}

@font-face {
  font-family: FrutigerLTPro-Condensed;
  src: url(../../fonts-componentes/FrutigerLTPro-Condensed.ttf);
}

@font-face {
  font-family: UniversLTStd_0;
  src: url(../../fonts-componentes/UniversLTStd_0.otf);
}

@font-face {
  font-family: RegimeMedGrupoOTMedium;
  src: url(../../fonts-componentes/RegimeMedGrupo_OT_Medium.otf);
}