.#{$mdc_medyklin} {
  .icone-atencao {
    position: absolute;
    left: -6px;
    padding: 10px 10px 0px 0px;

    &::before {
      color: $cor-4;
      background-color: transparent;
      content: "";

      display: inline-block;
      top: 15px;

      $url-triangulo: "../../imagens-componentes/triangulo-" + str-slice(quote($mdc_medyklin), 5) + ".png";
      background-image: url($url-triangulo);
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 25px;
    }
  }
  .tabela-caixa,
  .tabela-caixa-icone {
    .icone-atencao,
    &.icone-atencao {
      position: initial;
      padding: 10px 0 0 0;
      margin-right: 10px;
      margin-left: 0;
    }
  }

  .tabela-caixa--1 {
    .tabela-coluna.tabela--h1 {
      .tabela--h1__filho--2 {
        .triangulo {
          display: inline-block;
          width: 1.5em;
          margin-bottom: 10px;
          margin-left: 5px;
        }
      }
    }
  }
}
