.#{$mdc_medyklin} {
  .tabela-caixa-icone {
    display: flex !important;
    align-items: center;

    &__conteudo {
      @include ard-std-caixa;
      padding: 0;
      margin-bottom: 0;

      .paragrafo {
        font-family: ArialMTStd;
        @include negrito(ArialMTStd-Bold);
        @include italico(ArialMTStd-Italic);
        @include negrito-italico(ArialMTStd-BoldItalic);
      }
    }
  }
}
