.#{$mdc_medyn} {
  .caixa--0 {
    @include propriedade-saiba-mais-mdc;

    &__filho--1 {
      @include propriedade-saiba-mais-mdc__titulo;
      
      border-bottom: 3px solid $cor-4;
      color: $cor-4;
    }

    &__filho--2 {
      @include propriedade-saiba-mais-mdc__conteudo;

      background-color: $cor-11;

      .paragrafo {

        &.negrito.italico,
        &.negrito .italico,
        .negrito.italico,
        .negrito .italico {
          font-family: UniversLTPro-BoldCond;
          font-style: italic !important;
        }
      }
    }
  }
}