.#{$r3_medwriters} {
  .paragrafo,
  button.btn-tool-color,
  div.color-option {
    .destaque--0,
    &.destaque--0 {
      color: #fff;
    }

    .destaque-primario,
    &.destaque-primario,
    .destaque--1,
    &.destaque--1 {
      color: $cor-1;
    }

    .destaque-secundario,
    &.destaque-secundario,
    .destaque--2,
    &.destaque--2 {
      color: $cor-2;
    }

    .destaque-terciario,
    &.destaque-terciario,
    .destaque--3,
    &.destaque--3 {
      color: $cor-3;
    }
  }
}
