$mdc_medyklin: mdc-psi;

$cor-0: #424242;
$cor-1: #f16464;
$cor-2: #f69a9f;
$cor-3: #ffedcd;
$cor-4: #f4837c;
$cor-5: #fde5de;
$cor-6: #f8adaf;
$cor-7: #fbcbca;
$cor-8: #fddedc;
$cor-9: #feedeb;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;