.#{$med_medwriters} {
    .caixa--9 {
        @include ard-std-caixa;
        background-color: $cor-2;
        .paragrafo {
            &.capitalizado {
                margin-top: 0;
            }
        }
        @for $lista from 1 through 9 {
            .lista-bullet-#{$lista} {
                &::before {
                    color: #fff;
                }
            }
						comp-lista-flex[data-marker*="bullet"]::before {
							color: #fff;
						}
        }
    }
}