.#{$med_medwriters} {
    .caixa--5 {
        display: block;

        border-top: 2px solid $cor-1;
        border-left: 2px solid $cor-1;
        border-bottom: 2px solid $cor-1;
        margin-bottom: 20px;
        padding: 5px;

        .paragrafo {
            &:last-child {
                margin-bottom: 5px;
            }
        }

        &::before {
            display: block;

            content: "";
            margin-left: auto;
            margin-bottom: 10px;
            outline: 8px solid #fff;
            width: 40%;
        }
    }
}
