.#{$med_medwriters} {
    .caixa--1 {
        @include caixa-medwriters;
        border-right: none;

        &__filho--1 {
            display: block;
            font-family: NotoSans-Medium;
            max-width: fit-content;
            width: 68%;
            background-color: $cor-13;
            color: #000;
            margin-left: 0;
            padding: 5px 10px;
        }

        &__filho--2 {
            display: block;
            font-family: NotoSans-Medium;
            max-width: fit-content;
            width: 68%;
            background-color: $cor-13;
            color: $cor-2;
            margin-left: 0;
            padding: 5px 10px;
        }

        &__filho--3 {
            display: block;
            font-family: NotoSans-Medium;
            max-width: fit-content;
            width: 68%;
            background-color: $cor-13;
            color: $cor-1;
            margin-left: 0;
            padding: 5px 10px;
        }

        &__filho--4 {
            display: block;

            border-right: 2px solid $cor-13;
            border-top: 2px solid $cor-13;
            padding: 5px 5px 0 0;
        }
    }
}
