.#{$med_medwriters} {
    .caixa--2 {
        @include caixa-medwriters;

        border-right: 1px solid $cor-15;

        &__filho--1 {
            display: block;
            font-family: NotoSans-Medium;
            margin-left: auto;
            max-width: fit-content;
            padding: 5px;
            width: 68%;
            background-color: $cor-15;
            border-right: 1px solid $cor-15;
            color: $cor-2;
        }

        &__filho--2 {
            .paragrafo {
                padding: 5px 10px 0;
            }
        }
    }
}
