$mdc_medyn: mdc-cir;

$cor-0: #424242;    //cor de paragrafo, igual para todas as editoras, padronizar na cor-0.

$cor-1: #9d85be;
$cor-2: #6e497e;
$cor-3: #4c2c5c;
$cor-4: #faa74a;

$cor-5: #f0eef7;
$cor-6: #e5e0f0;

$cor-7: #e9e4ea;
$cor-8: #d7ceda;
$cor-9: #b8a5bd;

$cor-10: #ea8c1c;
$cor-11: #fde0ba;


