$mdc_medyn: mdc-pre;

$cor-0: #424242;

$cor-1: #8DC63F;
$cor-2: #378B36;
$cor-3: #11591B;
$cor-4: #faa74a;

$cor-5: #F0F7E8;
$cor-6: #E5F1D4;

$cor-7: #E3ECE0;
$cor-8: #CEDFC8;
$cor-9: #A7C69C;

$cor-10: #ea8c1c;
$cor-11: #fde0ba;


