.#{$mdc_medyklin} .cap .titulo--h8,
caixa-indice.#{$mdc_medyklin} .indice-style .titulo--h8 {
  display: block;

  color: #000;
  font-family: ArialMTStd;
  font-size: 1.2em;
  padding: 8px 8px 3px;
  width: -webkit-fill-available;

  area-indice & {
    font-size: 1rem;
    border-bottom-width: 2px;
    padding: 0;
  }
}
