.#{$mdc_medyklin} .cap .container-titulo--h1,
caixa-indice.#{$mdc_medyklin} .indice-style .container-titulo--h1 {
  display: block;
  
  .titulo--h1__cap {
    display: block;
    
    color: $cor-4 ;
    font-family: RegimeMedGrupoOTMedium;
    font-size: 1.5em;
    padding: 7px 10px 2px;
    width: -webkit-fill-available;
  }
  
  .titulo--h1__caixa {
    display: block;
    
    background-color: $cor-4;
    color: #fff;
    margin: 0;
    line-height: 1.3;
    padding: 5px 10px;
    width: -webkit-fill-available;

    .titulo--h1 {
      display: block;

      font-family: RegimeMedGrupoOTMedium;
      font-size: 1.5em;

      area-indice & {
        border-bottom-width: 4px;
        font-size: 1.3rem;
        padding: 0;
      }
    }
    
    .titulo--h1__irmao--1 {
      display: block;
      font-family: FSEmeric-Regular;
    }
  }
}
