.#{$medeletro} {
  @for $lista from 1 through 9 {
    .lista-bullet-#{$lista}::before {
      color: $cor-1;
    }
  }
	comp-lista-flex[data-marker*="bullet"]::before {
		color: $cor-1;
	}

  .lista-bullet-1::before {
    margin-top: 5px;
  }

  .lista-bullet-3::before {
    margin-top: 5px;
  }
}
