$mdc_medyklin: mdc-oft;

$cor-0: #424242;
$cor-1: #812990;
$cor-2: #a154a1;
$cor-3: #c77eb5;
$cor-4: #8b54a5;
$cor-5: #ecdfee;
$cor-6: #b476b4;
$cor-7: #d0aad0;
$cor-8: #e3cce3;
$cor-9: #f1e5f1;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;