.#{$med_medwriters} .cap .titulo--h3,
caixa-indice.#{$med_medwriters} .indice-style .titulo--h3 {

  display: block;
  padding: 5px 5px 0px;
  margin: 30px 0 0;
  width: fit-content;
  border-top: 2px solid $cor-1;
  color: $cor-0;
  font-size: 1.31em;
  font-family: NotoSerif-Regular;

  area-indice & {
    font-size: 1.3rem;
    border-bottom-width: 2px;
    padding: 0;
  }

  &__irmao--1 {
    display: block;
    padding: 0 5pc 5px 5px;
    width: fit-content;
    color: #ccc;
    font-size: 0.92em;
    font-weight: 400;
    font-family: NotoSerif-Regular;
}
}
