.#{$med_medwriters} .cap .titulo--h8,
caixa-indice.#{$med_medwriters} .indice-style .titulo--h8 {
  @include titulos-medwriters;

  border-bottom: 1px solid $cor-2;
  color: $cor-15;
  font-family: NotoSerif-SemiBold;

  area-indice & {
    font-size: 1.3rem;
    border-bottom-width: 2px;
    padding: 0;
  }
}
