.#{$med_medwriters} .cap .container-titulo--h2,
caixa-indice.#{$med_medwriters} .indice-style .container-titulo--h2 {
  @include titulos-medwriters;
  
  border-bottom: 1px solid $cor-1;
  border-left: 15px solid #e74315;
  font-size: 1.75em;
  font-family: NotoSerif-Regular;
  line-height: 1.2;

  .titulo--h2 {
    color: $cor-15;
    line-height: 0.9;
    display: flex;
    flex-direction: column;

    area-indice & {
      font-size: 1.3rem;
      border-bottom-width: 2px;
      padding: 0;
    }
  }

  .titulo--h2__irmao--1 {
    color: $cor-15;
    font-size: 0.7em;
    font-weight: normal;
  }
}