.#{$med_medwriters} .cap .titulo--h7,
caixa-indice.#{$med_medwriters} .indice-style .titulo--h7 {
    @include titulos-medwriters;

    background-color: $cor-13;
    color: $cor-0;
    font-family: NotoSerif-Medium;
    font-size: 1.125em;

    area-indice & {
        font-size: 1.3rem;
        border-bottom-width: 2px;
        padding: 0;
    }
}
