.#{$med_medwriters} .cap .titulo--h4,
caixa-indice.#{$med_medwriters} .indice-style .titulo--h4 {
        @include titulos-medwriters;

        background-color: $cor-15;
        color: $cor-12;
        font-family: NotoSerif-Medium;
        font-size: 1.125em;

        area-indice & {
            font-size: 1.3rem;
            border-bottom-width: 2px;
            padding: 0;
        }
    }
