.#{$med_medwriters} .cap .titulo--h9,
caixa-indice.#{$med_medwriters} .indice-style .titulo--h9 {
  @include titulos-medwriters;

  color: $cor-2;
  font-family: NotoSerif-SemiBold;

  area-indice & {
    font-size: 1.3rem;
    border-bottom-width: 2px;
    padding: 0;
  }
}
