body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.slide-in-bottom {
	cursor: pointer;
	width: 30%;
	height: 450px;
	margin: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	-webkit-animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom:hover {
	transition: all 0.9s;
	width: 33%;
	height: 500px;
}

.tracking-in-contract-bck {
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
	font-size: 2.5em;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
	animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
}

@-webkit-keyframes tracking-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
		transform: translateZ(400px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

@keyframes tracking-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
		transform: translateZ(400px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

.kenburns-top {
	width: 100%;
	height: 100%;
	background: url(../img/calendario2.png);
	background-position: center;
	background-size: cover;
	-webkit-animation: kenburns-top 5s ease-out both;
	animation: kenburns-top 5s ease-out both;
}
.kenburns-top2{
	background: url(../img/calendario5.png);
	background-position: center;
	background-size: cover;
}

p {
	z-index: 999;
}

@-webkit-keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}

@keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}

@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.slide-out-blurred-top {
	width: 30%;
	height: 450px;
	margin: 5%;
	-webkit-animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-5 21:38:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-top
 * ----------------------------------------
 */

@-webkit-keyframes slide-out-blurred-top {
	0% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
		transform: translateY(-1000px) scaleY(2) scaleX(0.2);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
}

@keyframes slide-out-blurred-top {
	0% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
		transform: translateY(-1000px) scaleY(2) scaleX(0.2);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
}

.slide-out-bck-center {
	width: 30%;
	height: 450px;
	margin: 5%;
	-webkit-animation: slide-out-bck-center 0.9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: slide-out-bck-center 0.9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-bck-center {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-1100px);
		transform: translateZ(-1100px);
		opacity: 0;
	}
}

@keyframes slide-out-bck-center {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-1100px);
		transform: translateZ(-1100px);
		opacity: 0;
	}
}

.swirl-out-bck {
	width: 30%;
	height: 450px;
	margin: 5%;
	-webkit-animation: swirl-out-bck 0.6s ease-in 2s both;
	animation: swirl-out-bck 0.6s ease-in 2s both;
}

@-webkit-keyframes swirl-out-bck {
	0% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
}

@keyframes swirl-out-bck {
	0% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
}

.swirl-in-fwd {
	margin-top: 5%;
	width: 60%;
	height: 600px;
	overflow: scroll;
	background: #333;
	position: absolute;
	transition: all 2.5s;
}

.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out 2.2s both;
	animation: swirl-in-fwd 0.6s ease-out 2.2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-5 21:47:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */

@-webkit-keyframes swirl-in-fwd {
	0% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}
}

@keyframes swirl-in-fwd {
	0% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}
}

.slide-in-right {
	background: white;
    display: flex;
    border-radius: 7px;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 2%;
    width: 60%;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
}

.slide-in-right:hover {
	background: blanchedalmond;
	transform: all 0.9s;
	margin: 2%;
	width: 60%;
}

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

.consultaContainer{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.paiT {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.iconHospital {
    height: 55px;
    width: 55px;
    background: url(../img/hospital-svgrepo-com.svg);
    margin-top: 7px;
}

p.infoClinica {
    width: auto;
    font-size: 1.3em;
    font-weight: bold;
    color: #337ab7;
    margin-right: 2%;
}

p.respostaClinica {
    width: 70%;
    font-size: 1.3em;
}

.inputEscolhas {
	position: absolute;
    right: 20%;
    top: 33%;
    color: white;
    font-weight: bold;
}

@font-face {
    font-family: pignose-calendar-icon;
    src: url(../fonts/pignose.calendar.eot?gpa4vl);
    src: url(../fonts/pignose.calendar.eot?gpa4vl#iefix) format('embedded-opentype'), url(../fonts/pignose.calendar.ttf?gpa4vl) format('truetype'), url(../fonts/pignose.calendar.woff?gpa4vl) format('woff'), url(../fonts/pignose.calendar.svg?gpa4vl#pignose.calendar) format('svg');
    font-weight: 400;
    font-style: normal
}

.pignose-calendar .icon-arrow-left,
.pignose-calendar .icon-arrow-right {
    font-family: pignose-calendar-icon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1
}

.pignose-calendar .icon-arrow-left:before {
    content: '\e90b'
}

.pignose-calendar .icon-arrow-right:before {
    content: '\e90a'
}

.pignose-calendar-wrapper {
    display: none;
    position: fixed;
    width: 80%;
    max-width: 360px;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    z-index: 50001;
    overflow: hidden;
    box-shadow: 0 4px 16px #000;
    transform: translate3d(0, 160px, 0);
    opacity: 0;
    transition: opacity .3s ease, transform .5s ease-out
}

.pignose-calendar-wrapper.pignose-calendar-wrapper-active {
    opacity: 1;
    transform: translate3d(0, 0, 0)
}

.pignose-calendar-wrapper .pignose-calendar {
    max-width: auto;
    width: 100%;
    border: none
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group {
    border-top: 1px solid #e2e2e2;
    overflow: hidden
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button {
    width: 50%;
    display: block;
    float: left;
    height: 3.2em;
    text-align: center;
    line-height: 3.2em;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    transition: background-color .3s ease;
    box-sizing: border-box
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button:hover {
    background-color: #efefef
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply {
    color: #fff;
    background-color: #2fabb7
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply:hover {
    background-color: #49c4d0
}

.pignose-calendar-wrapper-overlay {
    background-color: #000;
    opacity: 0;
    transition: opacity .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 50000
}

.pignose-calendar-wrapper-overlay.pignose-calendar-wrapper-overlay-active {
    opacity: .7
}

.pignose-calendar {
    width: 80%;
    max-width: 360px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    font-size: 100%;
    margin: 0 auto;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25)
}

.pignose-calendar .pignose-calendar-top {
    padding: 2.6em 0;
    background-color: #fafafa;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .125);
    position: relative;
    overflow: hidden
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.8em 0;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month,
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
    display: block;
    text-align: center
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
    font-size: 115%;
    color: #777;
    font-weight: 600;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    margin-bottom: .4em;
    font-size: 130%;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    position: relative;
    z-index: 5;
    text-decoration: none
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-value {
    display: inline-block;
    color: #777;
    font-size: 115%;
    font-weight: 600;
    vertical-align: middle;
    margin-top: -10px
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
    color: #555;
    font-size: 160%
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev {
    float: left;
    margin-left: 1.6em
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-value {
    margin-left: .2em
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next {
    float: right;
    margin-right: 1.6em
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-value {
    margin-right: .2em
}

.pignose-calendar .pignose-calendar-header {
    padding: 0 1.2em;
    margin-top: 1.2em;
    font-weight: 600;
    overflow: hidden
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week {
    float: left;
    width: 14.28%;
    height: 2.8em;
    text-align: center;
    line-height: 2.8em;
    box-sizing: border-box;
    color:#008eff;
    font-family: 'Fira Sans', sans-serif;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week:last-child {
    width: 14.32%
}

.pignose-calendar .pignose-calendar-body {
    padding: 1.2em
}

.pignose-calendar .pignose-calendar-body .pignose-calendar-row {
    overflow: hidden
}

.pignose-calendar .pignose-calendar-unit {
    float: left;
    display: block;
    height: 3.8em;
    width: 14.28%;
    text-align: center;
    line-height: 2.8em;
    box-sizing: border-box
}

.pignose-calendar .pignose-calendar-unit:last-child {
    width: 14.32%
}

.pignose-calendar .pignose-calendar-unit .pignose-calendar-button-schedule-container {
    line-height: .5em
}

.pignose-calendar .pignose-calendar-unit .pignose-calendar-button-schedule-container .pignose-calendar-button-schedule-pin {
    display: inline-block;
    background-color: #777;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    margin-right: .2em
}

.pignose-calendar .pignose-calendar-unit .pignose-calendar-button-schedule-container .pignose-calendar-button-schedule-pin:last-child {
    margin-right: 0
}
.pignose-calendar .pignose-calendar-unit a {
    display: inline-block;
    width: 2.4em;
    height: 2.4em;
    color: #777;
    line-height: 2.4em;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s ease, color .3s ease;
    background: #eee;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.pignose-calendar .pignose-calendar-unit a:active {
    background-color: #d8d8d8
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-disabled a {
    opacity: .5;
    background-color: #efefef
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a {
    background-color: #2196F3;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5)
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sat a,
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sun a {
    color: #fff
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range a {
    background-color: #efefef;
    border-radius: 0;
    width: 100%
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-disabled a {
    color: #b2b9bb;
    background-color: #e1e1e1
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first a {
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last a {
    border-top-right-radius: 1.2em;
    border-bottom-right-radius: 1.2em
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a {
    color: #fa4832
}

.pignose-calendar.pignose-calendar-default .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-active a {
    color: #ccc !important
}

.pignose-calendar.pignose-calendar-default.pignose-calendar-reverse .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-inactive a {
    color: #ccc !important
}

.pignose-calendar.pignose-calendar-dark {
    border-color: #323537;
    background-color: #4b4f51;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .5)
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top {
    background-color: #3f4244;
    border-bottom-color: #323537;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .175)
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-month {
    color: #fff
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-year {
    color: #bdc2c5
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-value {
    color: #a2a9ab
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
    color: #a2a9ab
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-header .pignose-calendar-week {
    color: #bdc2c5
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-header.pignose-calendar-week-sat,
.pignose-calendar.pignose-calendar-dark .pignose-calendar-header.pignose-calendar-week-sun {
    color: #ff6060
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit a {
    color: #51cfd2
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-sat a,
.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-sun a {
    color: #ff6060
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-disabled a {
    color: #868e8f;
    background-color: #5d6365
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-active a {
    color: #fff;
    background-color: #31bbbf;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .75)
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle a {
    color: #8b8f94
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-range a {
    background-color: #5a5d62
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-disabled a {
    color: #727a7c;
    background-color: #4f5558
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group {
    border-top: 1px solid #323537;
    overflow: hidden
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group .pignose-calendar-button {
    color: #fff
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group .pignose-calendar-button:hover {
    background-color: #5a5d62
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group .pignose-calendar-button-apply {
    color: #fff;
    background-color: #31bbbf
}

.pignose-calendar.pignose-calendar-blue {
    background-color: #fafafa
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-top {
    background-color: #009fe3;
    border-bottom-color: #e1e1e1
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-top .pignose-calendar-top-month {
    color: #fff
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-top .pignose-calendar-top-year {
    color: #fff
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-value {
    color: #fff
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
    color: #fff
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-header .pignose-calendar-week {
    color: #5c6270
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat,
.pignose-calendar.pignose-calendar-blue .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun {
    color: #fa4832
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit a {
    color: #5c6270
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-sat a,
.pignose-calendar.pignose-calendar-blue .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-sun a {
    color: #fa4832
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-disabled a {
    background-color: #efefef
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-active a {
    color: #fff;
    background-color: #009fe3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .75)
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle a {
    color: #ccc
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-range a {
    background-color: #efefef
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-disabled a {
    background-color: #efefef
}


.swirl-in-fwd .button-login {
	color: #fff;
    top: 80%;
    position: absolute;
    right: 13%;
    border-color: #2e6da4;
    background-color: #337ab7;
    border-radius: 5px;
    margin-top: 15px;
    outline: none;
    padding: 15px 12px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  
  .button-login:hover {
	border-color: #204d74;
	background-color: #286090;
  }

  ol, ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
  }
  
  blockquote, q {
	quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
  }
  
  table {
	border-collapse: collapse;
	border-spacing: 0;
  }
  
  .clearfix {
	clear: both;
  }
  
  a {
	text-decoration: none;
  }
  
  .txt-rt {
	text-align: right;
  }
  
  .txt-lt {
	text-align: left;
  }
  
  .txt-center {
	text-align: center;
  }
  
  .float-rt {
	float: right;
  }
  
  .float-lt {
	float: left;
  }
  
  .pos-relative {
	position: relative;
  }
  
  .pos-absolute {
	position: absolute;
  }
  
  .vertical-base {
	vertical-align: baseline;
  }
  
  .vertical-top {
	vertical-align: top;
  }
  
  nav.vertical ul li {
	display: block;
  }
  
  nav.horizontal ul li {
	display: inline-block;
  }
  
  img {
	max-width: 100%;
  }
  
  h1 {
	font-size: 2.9em;
	text-transform: capitalize;
	color: #fff;
	margin: 0.8em 1vw 1.2em;
	font-family: 'Fira Sans', sans-serif;
  }
  
  @media(max-width:1920px) {
	h1 {
	  font-size: 3.5vw;
	}
  }
  
  @media(max-width:1024px) {
	h1 {
	  font-size: 4.5vw;
	}
  }
  
  @media(max-width:800px) {
	h1 {
	  font-size: 5vw;
	}
  }
  
  @media(max-width:480px) {
	h1 {
	  font-size: 2.5em;
	}
  }
  
  @media(max-width:440px) {
	h1 {
	  font-size: 2.1em;
	}
  }
  
  @media(max-width:320px) {
	h1 {
	  font-size: 1.6em;
	}
  }
  
  #wrapper {
	padding-bottom: 40px;
  }
  
  .inline pre, .inline code {
	display: inline !important;
  }
  
  .inline pre, .inline code {
	padding: 0 !important;
	text-align: left;
	background-color: transparent !important;
  }
  
  .inline pre, .inline pre code, .inline pre code span {
	font-size: inherit;
  }
  
  .code {
	font-weight: 600;
	font-family: 'Fira Sans', sans-serif;
  }
  
  .ui.segment {
	padding: 40px;
  }
  
  .ui.segments .ui.segment {
	padding: 20px 32px;
  }
  
  .ui.segment .ui.header {
	width: 100%;
	border-bottom: 1px solid #f2f2f2;
	margin: 0 0 40px !important;
	padding: 0 0 20px 0;
  }
  
  .ui.table {
	font-size: 15px;
	font-family: 'Fira Sans', sans-serif;
  }
  
  .ui.button.thin {
	font-weight: 400;
  }
  
  .label .fas, .label .fab, .button .fas, .button .fab {
	margin-right: .6em;
  }
  
  .center {
	text-align: center !important;
  }
  
  .header {
	max-width: 1440px;
	width: 90%;
	margin: 40px auto 20px;
	text-align: center;
  }
  
  .header h1 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 20px 0 40px;
	color: #333333;
  }
  
  .article {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
	margin-top: 80px;
	padding-top: 80px;
	border-top: 1px solid #efefef;
  }
  
  .box {
	display: none;
	max-width: 360px;
	margin: 0 auto;
	font-weight: 600;
	margin-top: 2em;
	padding: 1.6em;
	background-color: #fafafa;
	border: 1px solid #d8d8d8;
	box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-o-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	overflow: hidden;
  }
  
  h5 {
	text-align: center;
  }
  
  .title {
	margin-bottom: 40px;
	text-align: center;
  }
  
  .title h3 {
	margin-bottom: 0;
  }
  
  .calendarioConsulta {
	font-family: 'Fira Sans', sans-serif;
	font-size: 14px !important;
  }
  
  .box {
	text-align: center;
  }
  
  .language-calender .pignose-calender {
	margin-top: .4em !important;
  }
  
  .input-calendar {
	display: block;
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
	height: 3.2em;
	line-height: 3.2em;
	font: inherit;
	padding: 0 1.2em;
	border: 1px solid #d8d8d8;
	box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-o-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
  }
  
  .btn-calendar {
	display: block;
	text-align: center;
	width: 100%;
	max-width: 360px;
	height: 3.2em;
	line-height: 3.2em;
	background-color: #52555a;
	margin: 0 auto;
	font-weight: 600;
	color: #ffffff !important;
	text-decoration: none !important;
	box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-o-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
  }
  
  .btn-calendar:hover {
	background-color: #5a6268;
  }
  
  @media screen and (max-width: 640px) {
	.calendarioConsulta {
	  font-size: 12px !important;
	}
  }
  
  .copy-wthree {
	margin: 3em 0em;
  }
  
  .copy-wthree {
	margin: 3em 0em;
  }
  
  .copy-wthree p {
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
  }
  
  .copy-wthree p a {
	color: #fff;
  }
  
  @media(max-width:480px) {
	.copy-wthree p {
	  font-size: 14px;
	  padding: 0 1em 1em;
	  line-height: 2;
	}
  }
  
  .choiceActive {
	background-color: rgba(51, 122, 183, 0.2);
	border-color: #2e6da4;
  }
  
  .choice1 {
	width: 40%;
	height: 33%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(../img/cerebro.png);
	cursor: pointer;
  }
  
  .choice2 {
	width: 40%;
	height: 33%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(../img/dor.png);
	cursor: pointer;
  }
  
  .choice3 {
	width: 40%;
	height: 33%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(../img/fratura.png);
	cursor: pointer;
  }
  
  .CxEspecialidade {
	margin: -12px 0 0 203px;
	  font-size: 1em;
	  color: white;
	  position: absolute;
	  width: 130px;
	  background: #337ab7;
	  height: 45px;
	  text-align: center;
	  align-items: center;
	  display: flex;
	  justify-content: center;
  }
  
  .CxEsp {
	margin: -12px 0px 0 191px;
	position: absolute;
	border-right: 0px solid transparent;
	border-left: 12px solid transparent;
	border-bottom: 13px solid rgb(30,70,140);
	width: 3px;
  }

  body{
    font-family: 'Fira Sans', sans-serif;
}
@font-face {
    font-family: calendarioConsulta-icon;
    src: url(../fonts/calendarioConsulta.eot?gpa4vl);
    src: url(../fonts/calendarioConsulta.eot?gpa4vl#iefix) format('embedded-opentype'), url(../fonts/calendarioConsulta.ttf?gpa4vl) format('truetype'), url(../fonts/calendarioConsulta.woff?gpa4vl) format('woff'), url(../fonts/calendarioConsulta.svg?gpa4vl#calendarioConsulta) format('svg');
    font-weight: 400;
    font-style: normal
}

.calendarioConsulta .icon-arrow-left,
.calendarioConsulta .icon-arrow-right {
    font-family: calendarioConsulta-icon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1
}

.calendarioConsulta .icon-arrow-left:before {
    content: '\e90b'
}

.calendarioConsulta .icon-arrow-right:before {
    background:blue;
}

.calendarioConsulta-wrapper {
    display: none;
    position: fixed;
    width: 80%;
    max-width: 360px;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    z-index: 50001;
    overflow: hidden;
    box-shadow: 0 4px 16px #000;
    transform: translate3d(0, 160px, 0);
    opacity: 0;
    transition: opacity .3s ease, transform .5s ease-out
}

.calendarioConsulta-wrapper.calendarioConsulta-wrapper-active {
    opacity: 1;
    transform: translate3d(0, 0, 0)
}

.calendarioConsulta-wrapper .calendarioConsulta {
    max-width: auto;
    width: 100%;
    border: none
}

.calendarioConsulta-wrapper .calendarioConsulta .calendarioConsulta-button-group {
    border-top: 1px solid #e2e2e2;
    overflow: hidden
}

.calendarioConsulta-wrapper .calendarioConsulta .calendarioConsulta-button-group .calendarioConsulta-button {
    width: 50%;
    display: block;
    float: left;
    height: 3.2em;
    text-align: center;
    line-height: 3.2em;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    transition: background-color .3s ease;
    box-sizing: border-box
}

.calendarioConsulta-wrapper .calendarioConsulta .calendarioConsulta-button-group .calendarioConsulta-button:hover {
    background-color: #efefef
}

.calendarioConsulta-wrapper .calendarioConsulta .calendarioConsulta-button-group .calendarioConsulta-button-apply {
    color: #fff;
    background-color: #2fabb7
}

.calendarioConsulta-wrapper .calendarioConsulta .calendarioConsulta-button-group .calendarioConsulta-button-apply:hover {
    background-color: #49c4d0
}

.calendarioConsulta-wrapper-overlay {
    background-color: #000;
    opacity: 0;
    transition: opacity .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 50000
}

.calendarioConsulta-wrapper-overlay.calendarioConsulta-wrapper-overlay-active {
    opacity: .7
}

.calendarioConsulta {
    width: 80%;
    max-width: 360px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    font-size: 100%;
    margin: 0 auto;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25)
}

.calendarioConsulta .calendarioConsulta-top {
    padding: 2.6em 0;
    background-color: #fafafa;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .125);
    position: relative;
    overflow: hidden
}

.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-date {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.8em 0;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box
}

.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-month,
.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-year {
    display: block;
    text-align: center
}

.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-year {
    font-size: 115%;
    color: #777;
    font-weight: 600;
}

.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-month {
    margin-bottom: .4em;
    font-size: 130%;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
}

.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-nav {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    position: relative;
    z-index: 5;
    text-decoration: none
}

.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-nav .calendarioConsulta-top-value {
    display: inline-block;
    color: #777;
    font-size: 115%;
    font-weight: 600;
    vertical-align: middle;
    margin-top: -10px
}

.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-nav .calendarioConsulta-top-icon {
    color: #555;
    font-size: 160%
}

.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-nav.calendarioConsulta-top-prev {
    float: left;
    margin-left: 1.6em
}

.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-nav.calendarioConsulta-top-prev .calendarioConsulta-top-value {
    margin-left: .2em
}

.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-nav.calendarioConsulta-top-next {
    float: right;
    margin-right: 1.6em
}

.calendarioConsulta .calendarioConsulta-top .calendarioConsulta-top-nav.calendarioConsulta-top-next .calendarioConsulta-top-value {
    margin-right: .2em
}

.calendarioConsulta .calendarioConsulta-header {
    padding: 0 1.2em;
    margin-top: 1.2em;
    font-weight: 600;
    overflow: hidden
}

.calendarioConsulta .calendarioConsulta-header .calendarioConsulta-week {
    float: left;
    width: 14.28%;
    height: 2.8em;
    text-align: center;
    line-height: 2.8em;
    box-sizing: border-box;
    color:#008eff;
    font-family: 'Fira Sans', sans-serif;
}

.calendarioConsulta .calendarioConsulta-header .calendarioConsulta-week:last-child {
    width: 14.32%
}

.calendarioConsulta .calendarioConsulta-body {
    padding: 1.2em
}

.calendarioConsulta .calendarioConsulta-body .calendarioConsulta-row {
    overflow: hidden
}

.calendarioConsulta .calendarioConsulta-unit {
    float: left;
    display: block;
    height: 3.8em;
    width: 14.28%;
    text-align: center;
    line-height: 2.8em;
    box-sizing: border-box
}

.calendarioConsulta .calendarioConsulta-unit:last-child {
    width: 14.32%
}

.calendarioConsulta .calendarioConsulta-unit .calendarioConsulta-button-schedule-container {
    line-height: .5em
}

.calendarioConsulta .calendarioConsulta-unit .calendarioConsulta-button-schedule-container .calendarioConsulta-button-schedule-pin {
    display: inline-block;
    background-color: #777;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    margin-right: .2em
}

.calendarioConsulta .calendarioConsulta-unit .calendarioConsulta-button-schedule-container .calendarioConsulta-button-schedule-pin:last-child {
    margin-right: 0
}
.calendarioConsulta .calendarioConsulta-unit a {
    display: inline-block;
    width: 2.4em;
    height: 2.4em;
    color: #777;
    line-height: 2.4em;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s ease, color .3s ease;
    background: #eee;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.calendarioConsulta .calendarioConsulta-unit a:active {
    background-color: #d8d8d8
}

.calendarioConsulta .calendarioConsulta-unit.calendarioConsulta-unit-disabled a {
    opacity: .5;
    background-color: #efefef
}

.calendarioConsulta .calendarioConsulta-unit.calendarioConsulta-unit-active a {
    background-color: #2196F3;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5)
}

.calendarioConsulta .calendarioConsulta-unit.calendarioConsulta-unit-active.calendarioConsulta-semana-sab a,
.calendarioConsulta .calendarioConsulta-unit.calendarioConsulta-unit-active.calendarioConsulta-semana-dom a {
    color: #fff
}

.calendarioConsulta .calendarioConsulta-unit.calendarioConsulta-unit-range a {
    background-color: #efefef;
    border-radius: 0;
    width: 100%
}

.calendarioConsulta .calendarioConsulta-unit.calendarioConsulta-unit-range.calendarioConsulta-unit-disabled a {
    color: #b2b9bb;
    background-color: #e1e1e1
}

.calendarioConsulta .calendarioConsulta-unit.calendarioConsulta-unit-range.calendarioConsulta-unit-range-first a {
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em
}

.calendarioConsulta .calendarioConsulta-unit.calendarioConsulta-unit-range.calendarioConsulta-unit-range-last a {
    border-top-right-radius: 1.2em;
    border-bottom-right-radius: 1.2em
}

.calendarioConsulta .calendarioConsulta-unit.calendarioConsulta-semana-dom a {
    color: #fa4832
}

.calendarioConsulta.calendarioConsulta-default .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-toggle-active a {
    color: #ccc !important
}

.calendarioConsulta.calendarioConsulta-default.calendarioConsulta-reverse .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-toggle-inactive a {
    color: #ccc !important
}

.calendarioConsulta.calendarioConsulta-dark {
    border-color: #323537;
    background-color: #4b4f51;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .5)
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-top {
    background-color: #3f4244;
    border-bottom-color: #323537;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .175)
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-top .calendarioConsulta-top-month {
    color: #fff
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-top .calendarioConsulta-top-year {
    color: #bdc2c5
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-top .calendarioConsulta-top-nav .calendarioConsulta-top-value {
    color: #a2a9ab
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-top .calendarioConsulta-top-nav .calendarioConsulta-top-icon {
    color: #a2a9ab
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-header .calendarioConsulta-week {
    color: #bdc2c5
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-header.calendarioConsulta-semana-sab,
.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-header.calendarioConsulta-semana-dom {
    color: #ff6060
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit a {
    color: #51cfd2
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-semana-sab a,
.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-semana-dom a {
    color: #ff6060
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-disabled a {
    color: #868e8f;
    background-color: #5d6365
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-active a {
    color: #fff;
    background-color: #31bbbf;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .75)
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-toggle a {
    color: #8b8f94
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-range a {
    background-color: #5a5d62
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-range.calendarioConsulta-unit-disabled a {
    color: #727a7c;
    background-color: #4f5558
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-button-group {
    border-top: 1px solid #323537;
    overflow: hidden
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-button-group .calendarioConsulta-button {
    color: #fff
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-button-group .calendarioConsulta-button:hover {
    background-color: #5a5d62
}

.calendarioConsulta.calendarioConsulta-dark .calendarioConsulta-button-group .calendarioConsulta-button-apply {
    color: #fff;
    background-color: #31bbbf
}

.calendarioConsulta.calendarioConsulta-blue {
    background-color: #fafafa
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-top {
    background-color: #009fe3;
    border-bottom-color: #e1e1e1
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-top .calendarioConsulta-top-month {
    color: #fff
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-top .calendarioConsulta-top-year {
    color: #fff
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-top .calendarioConsulta-top-nav .calendarioConsulta-top-value {
    color: #fff
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-top .calendarioConsulta-top-nav .calendarioConsulta-top-icon {
    color: #fff
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-header .calendarioConsulta-week {
    color: #5c6270
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-header .calendarioConsulta-week.calendarioConsulta-semana-sab,
.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-header .calendarioConsulta-week.calendarioConsulta-semana-dom {
    color: #fa4832
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit a {
    color: #5c6270
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-semana-sab a,
.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-semana-dom a {
    color: #fa4832
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-disabled a {
    background-color: #efefef
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-active a {
    color: #fff;
    background-color: #009fe3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .75)
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-toggle a {
    color: #ccc
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-range a {
    background-color: #efefef
}

.calendarioConsulta.calendarioConsulta-blue .calendarioConsulta-body .calendarioConsulta-row .calendarioConsulta-unit.calendarioConsulta-unit-range.calendarioConsulta-unit-disabled a {
    background-color: #efefef
}

.horarios {
    position: absolute;
    display: flex;
    margin-top: -25px;
    background: violet;
}

.aaa {
    margin: 4px;
    padding: 2px;
    background: silver;
}