.#{$r3_medwriters} {
  @mixin quadro-geral($cor-0-quadro: null) {
    display: block;
    padding: $padding-caixas-r3;
    margin: $margem-caixas-r3;
    font-family: NotoSans-Regular;

    .paragrafo {
      color: $cor-0-quadro;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .quadro {
    @include quadro-geral;

    &--destaque {
      display: block;
      margin: $margem-caixas-r3;
      border-radius: 10px;
      border: 1px solid $cor-2;
      padding: $padding-caixas-r3;

      .paragrafo {
        color: $cor-0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &--claro {
      @include quadro-geral($cor-2);
      background-color: $cor-5;

      .paragrafo {
        color: $cor-3;
      }

      &.bg-azul {
        background-color: #d4e4f5;

        .paragrafo {
          color: #000;
        }
      }

      &.bg-verde {
        background-color: #dae0bc;

        .paragrafo {
          color: #000;
        }
      }

      &.bg-bege {
        background-color: #fedbb5;

        .paragrafo {
          color: #000;
        }
      }

      &.bg-rosa {
        background-color: #fbbfa1;

        .paragrafo {
          color: #000;
        }
      }
    }

    &--escuro {
      @include quadro-geral(#fff);
      background-color: $cor-1;
    }
  }
}

// .#{$r3_medwriters}.modo-noturno {
//     .quadro {
//         &--escuro {
//             background-color: $cor-12-modo-noturno;
//             .paragrafo {
//                 color: $cor-5;
//             }
//         }
//         &--claro {
//             background-color: $cor-12-modo-noturno;
//             border-radius: 10px;
//             border: 2px solid $cor-4;
//             .paragrafo {
//                 color: $cor-5;
//             }
//         }
//     }
// }