.#{$r3_medwriters} {
  @mixin quadro-geral($cor-0-quadro: null) {
    display: block;
    padding: $padding-caixas-r3;
    margin: $margem-caixas-r3;
    font-family: NotoSans-Regular;

    .paragrafo {
      color: $cor-0;
      font-family: NotoSans-Bold;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .quadro-formula {
    @include quadro-geral;
    background-color: $cor-1;
    border-radius: 10px;
    margin: $margem-caixas-r3;
    padding: $padding-caixas-r3;

    &__titulo {
      display: block;
      color: #fff;
      font-family: NotoSerif-Bold;
      padding: 5px;
    }

    & .paragrafo {
      font-family: NotoSerif-Regular;
    }

    //Favor nao remover essa classe
    & .ap22465posicao1988 {
      font-family: NotoSerif-Bold;
    }
  }
}

// .#{$r3_medwriters}.modo-noturno{
//   .quadro-formula {
//     background-color: $cor-25-modo-noturno;
//     border: 1px solid $cor-1;

//     &__titulo {
//       color: $cor-1;
//     }

//     .paragrafo {
//       color:$cor-8;
//     }
// }
// }