.#{$mdc_medyn} {
  .tabela-caixa {
    @include ard-std-caixa($padding: 0);

    // Remove a margin caso haja tabela caixa dentro de tabela caixa...
    .tabela-caixa {
      margin: 0;
    }

    // COLUNA
    .tabela-coluna {
      padding: 5px 5px 0 5px;

      $fundo: (
        0: #fff,
        4: $cor-7,
        5: $cor-8,
        6: $cor-9,
      );

      @each $name, $background in $fundo {
        &.tabela--h#{$name} {
          background-color: $background;
        }
      }

      .paragrafo {
        font-family: UniversLTPro-55Roman;
        margin: 0;
        padding: 8px 8px 5px;
        @include negrito(UniversLTPro-65Bold);

        &.italico,
        .italico {
          font-family: UniversLTPro-Light;
          font-style: italic;
        }

        &.negrito .italico {
          font-style: normal;
        }

        @include negrito-italico(UniversLTPro-65BoldOblique);
      }

      &.borda-dir {
        border-right: 1px solid $cor-1;
      }

      &.centralizado-vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &.tabela--h1 {
        display: flex;
        color: $cor-1;
        border-bottom: 2px solid $cor-1;
        font-size: 1.8em;
        font-family: AkzidenzGroteskBold;
        padding: 0 10px 0 0;
        flex-shrink: 0;
        -webkit-flex-shring: 1.5;
      }

      &.tabela--h2 {
        display: block;
        color: $cor-1;
        border-bottom: 2px solid $cor-1;
        font-size: 0.9em;
        font-family: AkzidenzGrotesk-Light;
        background: initial;
        padding: 10px 0 0 0;
        flex-grow: 1;
      }

      &.tabela--h3 {
        display: flex;
        border-bottom: 2px solid $cor-1;

        .paragrafo {
          font-family: AkzidenzGroteskMedium;
          text-align: center !important;
          text-align-last: center !important;

          .normal {
            font-family: UniversLTStdLight;
          }
        }
      }
    }

    // LINHA
    .tabela-linha {
      border-bottom: 1px solid $cor-1;

      &.borda-bot {
        border-bottom: 3px solid $cor-1;
      }

      .linha {
        border-bottom: 1px solid $cor-1;
      }
    }

    .paragrafo.legenda-tabela {
      display: block;
      font-family: UniversLTPro-Condensed;
      margin-bottom: 0;
      line-height: 1.1;
      padding: 10px;

      &.pequeno {
        font-size: 0.75em;
      }
    }
  }
}
