@media screen and (device-height: 1280px) and (device-width: 800px) and (-webkit-device-pixel-ratio: 1.5) {
    .zoom-view__image-modal {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  
  .apostila-dica-modal .apostila-dica__close-button {
    position: absolute !important;
    color: #ccc !important;
    line-height: 60px;
    letter-spacing: 1.5px;
    z-index: 1;
  }
  
  .apostila-dica-modal .apostila-dica-content-wrapper {
    top: 50px;
    bottom: 60px;
  }
  
  .apostila-dica-modal .apostila-dica-content-wrapper .scroll {
    height: 100%;
  }
  
  .apostila-dica-modal .apostila-dica-text {
    position: absolute;
    top: 20%;
    bottom: 30px;
    width: 100%;
    height: auto;
  }

  .apostila-dica-modal .apostila-dica-text .italico {
    font-family: FSEmericWeb-Regular;
    font-style: normal;
  }
  
  .apostila-dica-modal .apostila-dica-title {
    position: absolute;
    top: 10%;
    width: 100%;
  }
  
  .apostila-dica-modal .apostila-dica-title p {
    font-size: 1.3em !important;
    border-bottom: 3px dotted white;
    width: fit-content !important;
    margin-left: 15px !important;
    padding-bottom: 3px;
    word-break: break-word;
  }
  
  .apostila-dica-modal .ms-close-zoom__img {
    left: 50%;
    margin-top: -12px;
    margin-left: -16px;
    z-index: 999;
  }
  
  .apostila-dica-modal p.dica {
    color: #fff;
    font-size: 1.1em;
    font-family: "FSEmericWeb-Italic";
    width: 95%;
    margin: auto 10px;
    left: 0;
    right: 0;
    height: auto;
    overflow: scroll;
    text-align: justify;
    border-radius: 5px;
  }