$mdc_medyklin: mdc-nef;

$cor-0: #424242;
$cor-1: #78765a;
$cor-2: #d1cfb7;
$cor-3: #b4b190;
$cor-4: #7a785c;
$cor-5: #e3e2d7;
$cor-6: #8a865a;
$cor-7: #b4b18f;
$cor-8: #d1cfb6;
$cor-9: #e7e5d6;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;