.#{$mdc_medyn} .cap .container-titulo--h3,
caixa-indice.#{$mdc_medyn} .indice-style .container-titulo--h3 {
    display: block;

    background-color: $cor-6;
    padding: 7px 10px 2px;
    text-align: left;
    width: -webkit-fill-available;

    //pode pedir ao eric para simplificar
    .titulo--h3 {
        display: block;
        color: $cor-2;
        font-family: AkzidenzGroteskBold;
        font-size: 1.3em;
        line-height: 1.3em;

        // cor do olho
        .olho {
            background-color: $cor-2;
        }

        area-indice & {
            font-size: 1.2rem;
            border-bottom-width: 2px;
            padding: 0;
        }
    }

    .titulo--h3__irmao--1 {
        display: block;
        color: $cor-9;
        font-family: AkzidenzGroteskMedium;
        font-size: .9em;
        line-height: 1.3em;
    }
}