.#{$mdc_medyn} .cap .container-titulo--h4,
caixa-indice.#{$mdc_medyn} .indice-style .container-titulo--h4 {

    display: block;
    border-bottom: 5px solid $cor-1;

    .titulo--h4 {
        display: block;
        color: $cor-2;
        font-family: AkzidenzGroteskBold;
        font-size: 1.1em;
        line-height: 1.3em;

        area-indice & {
            font-size: 1.1rem;
            border-bottom-width: 2px;
            padding: 0;
        }
    }

    .titulo--h4__irmao--1 {
        display: block;
        color: $cor-1;
        font-family: AkzidenzGroteskMedium;
        font-size: 0.8em;
        line-height: 1.3em;
    }
}