.#{$mdc_medyn} .cap .titulo--h7,
caixa-indice.#{$mdc_medyn} .indice-style .titulo--h7 {
    display: block;
    font-family: UniversLTPro-65Bold;
    font-size: 1em;
    color: $cor-2;
    text-transform: uppercase;

    area-indice & {
        font-size: 1.1rem;
        border-bottom-width: 2px;
        padding: 0;
    }
}
