$mdc_medyklin: mdc-car;

$cor-0: #424242;
$cor-1: #8c1b1b;
$cor-2: #ba8c79;
$cor-3: #dbc2b5;
$cor-4: #9e4534;
$cor-5: #e5cec5;
$cor-6: #c59f8e;
$cor-7: #d7bdb1;
$cor-8: #e4d4cb;
$cor-9: #efe6e1;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;