$mdc_medyn: mdc-ort;

$cor-0: #424242;

$cor-1: #51A090;
$cor-2: #107E6B;
$cor-3: #025F50;
$cor-4: #faa74a;

$cor-5: #EAF0EE;
$cor-6: #D9E5E1;

$cor-7: #E5EAE7;
$cor-8: #CFDAD5;
$cor-9: #A6BDB5;

$cor-10: #ea8c1c;
$cor-11: #fde0ba;


