.#{$med_medwriters} {
  .saiba-mais,
  .saiba-mais-med--expandido {
    display: block;
    width: -webkit-fill-available;
    margin: 20px 0;
    position: relative;
    overflow: hidden;

    &__titulo {
      text-align: left;
      font-family: NotoSans-Medium;
      display: block;
      background-color: $cor-15;
      padding: 5px;
      color: #fff;
      margin-left: auto;
      width: 68%;
      max-width: 175px;
    }

    &__conteudo {
      border-right: 1px solid $cor-15;
      @include ard-std-caixa($margin: null);
      .questoes,
      .questoes-antigas {
        padding: 10px 8px;
      }
    }
  }

  .saiba-mais__expandir {
    background-color: $cor-1;
  }
}
