.#{$medeletro} {
  .questoes {
    background-color: $cor-9;
    margin: $margem-caixas-r3;
    padding: $padding-caixas-r3;
    color: $cor-0;

    .paragrafo {
      padding-left: 0;
      padding-right: 0;
      font-family: NotoSans-Italic;
      color: $cor-0;
    }

    .titulo-questoes {
      display: block;
      font-family: NotoSans-Italic;
      font-size: 1.3em;
      padding: 0;
      font-style: initial;
    }

    .botao-questoes {
      background-color: $cor-2;
      border-color: $cor-1;
      padding: $padding-caixas-r3;
      font-family: NotoSans-Medium;
      text-transform: uppercase;
      max-width: fit-content;
    }

    .resposta-questoes {
      background-color: $cor-8;
      font-family: NotoSans-Regular;

      .paragrafo {
        color: initial;
      }
    }

    .mostraRespostaQuestoes {
      .paragrafo {
        padding: $padding-caixas-r3;
        font-family: NotoSans-Regular;
        color: $cor-0;
      }
    }

    .container-imagem {
      margin: 0 15px;
    }
  }
}
