.#{$r3_mederi} {
  @mixin geral {
    display: block;
    padding: $padding-caixas-r3;

    .paragrafo {
      color: $cor-2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .saiba-mais,
  .atencao {
    position: relative;
    display: block;
    border: 1px solid $cor-2;
    margin: $margem-caixas-r3;

    container-central container-apostila & {
      position: initial;
    }

    .saiba-mais__titulo,
    .atencao__titulo {
      @include geral;

      color: #fff;
      font-size: 1.2em;
      font-family: NotoSans-Bold;
      background-color: $cor-2;

      .destaque-primario {
        color: $cor-1;
      }
    }

    .saiba-mais__conteudo,
    .atencao__texto {
      @include geral;

      font-family: NotoSerif-Regular;
      background-color: $cor-5;
    }

    .saiba-mais__expandir {
      background: $cor-2;
    }
  }
}

// .#{$r3_mederi}.modo-noturno {
//   @mixin geral {
//     display: block;
//     padding: $padding-caixas-r3;

//     .paragrafo {
//       color: $cor-2;

//       &:last-child {
//         margin-bottom: 0;
//       }
//     }
//   }

//   .saiba-mais,
//   .atencao {
//     display: block;
//     border: 1px solid $cor-2;
//     margin: $margem-caixas-r3;

//     border: 1px solid $cor-1;

//     .saiba-mais__titulo,
//     .atencao__titulo {
//       @include geral;

//       color: #fff;
//       font-size: 1.2em;
//       font-family: NotoSans-Bold;
//       background-color: $cor-2;

//       border-bottom: 1px solid $cor-1;
//     }

//     .saiba-mais__conteudo,
//     .atencao__texto {
//       @include geral;

//       font-family: NotoSerif-Regular;
//       background-color: #222222;

//       & .paragrafo {
//         color: #e0e0e0;
//       }
//     }
//   }
// }