.#{$r3_medwriters} {
  .palavra-dica {
    display: inline;
    color: $cor-11;
    font-family: NotoSerif-Bold;
    text-decoration: underline;
    // border-bottom: 1px solid $cor-11;

    .palavra-dica__texto,
    .palavra-dica-texto {
      display: none;
      // color: $cor-2;
      // font-family: NotoSerif-Regular;
      // margin: $margem-palavra-dica-r3;
      // padding: $padding-caixas-r3;
      // background-color: $cor-8;
      // border: 1px solid $cor-2;
      // border-radius: 5px;

      // &::before {
      //   content: "*";
      // }
    }
  }

  &.apostila .palavra-dica-texto[style*="display: block;"],
  &.apostila .palavra-dica__texto[style*="display: block;"] {
    display: none !important;
  }
}

// .#{$r3_medwriters}.modo-noturno {
//   .palavra-dica {
//     .palavra-dica__texto,
//     .palavra-dica-texto {
//       color: $cor-4;
//       background-color: $cor-24-modo-noturno;
//     }
//   }
// }