.#{$int_mederi}.decoreba {
	.titulo--h2 {
		position: relative;
		display: block;
		width: fit-content;
		margin-left: -23px;
		padding: 12px 20px;
		background-color: $cor-2;
		font-family: Rajdhani-Medium;
		font-size: 1.8rem;
		color: #fff;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			@each $dir, $val in ((right #fff), (bottom #fff), (left transparent), (top transparent)) {
				border-#{$dir}: 8px solid #{$val};
			}
		}
	}
}
