.#{$mdc_medyklin} .topico--h2 {
	display: block;
	font-family: ArialMTStd-Black;
	font-size: 1em;
	padding: 8px 8px 3px;
	width: -webkit-fill-available;

	area-indice & {
		font-size: 0.83rem;
		border-bottom-width: 2px;
		padding: 0;
	}
}
