$mdc_medyklin: mdc-reu;

$cor-0: #424242;
$cor-1: #11507f;
$cor-2: #9fa7d4;
$cor-3: #d3d6ec;
$cor-4: #486590;
$cor-5: #d1d4e0;
$cor-6: #b0b6dc;
$cor-7: #cbcee8;
$cor-8: #dedff1;
$cor-9: #ecedf7;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;