/*
REGRAS PARA TABELAS:
*/

.tabela-caixa {
    display: block;
    margin-bottom: 10px;
    .quadro--destaque {
        margin: 15px;
        .paragrafo {
            padding: 0;
        }
    }
    .questoes {
        margin: 0 15px;
    }
    .tabela-coluna .paragrafo.border-bottom-1 {
        margin: 0 -15px;
        padding: 0 15px !important;
        &:not(:last-of-type) {
            padding-bottom: 10px !important;
        }
    }
    .tabela-linha:not(:last-of-type) {
        border-bottom: 1px solid;
    }
    .componente-biblioteca:not(:last-of-type) .tabela-linha {
        border-bottom: 1px solid;
    }
    .quadro-resumo__legenda {
        border: 0 !important;
    }
}

.r3-tabela-linha,
.tabela-linha,
.r3-tabela-linha-flex,
.tabela-linha-flex {
    display: flex;
    .r3-tabela-coluna,
    .tabela-coluna {
        display: block;
        padding: 15px;
        -webkit-box-flex: initial;
        flex: initial;
        &.bg-cinza {
            background-color: #f6f6f6;
        }
        &.bg-branco {
            background-color: #fff;
        }
        .paragrafo {
            padding: 0 !important;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        &.titulo,
        &.subtitulo {
            margin: 0;
        }
        &.borda-dir {
            margin: 0;
            border-right: 1px solid white;
        }
        &.col-1 {
            width: 8.33% !important;
            max-width: 8.33% !important;
        }
        &.col-2 {
            width: 16.66% !important;
            max-width: 16.66% !important;
        }
        &.col-3 {
            width: 25% !important;
            max-width: 25% !important;
        }
        &.col-4 {
            width: 33.33% !important;
            max-width: 33.33% !important;
        }
        &.col-5 {
            width: 41.66% !important;
            max-width: 41.66% !important;
        }
        &.col-6 {
            width: 50% !important;
            max-width: 50% !important;
        }
        &.col-7 {
            width: 58.33% !important;
            max-width: 58.33% !important;
        }
        &.col-8 {
            width: 66.66% !important;
            max-width: 66.66% !important;
        }
        &.col-9 {
            width: 75% !important;
            max-width: 75% !important;
        }
        &.col-10 {
            width: 83.33% !important;
            max-width: 83.33% !important;
        }
        &.col-11 {
            width: 91.66% !important;
            max-width: 91.66% !important;
        }
        &.col-12 {
            width: -webkit-fill-available;
            max-width: -webkit-fill-available;
        }
    }
}

// FIXES

.r3-clm .tabela-caixa.ap22477posicao325 .tabela-linha .col-3 {
    width: 41.66% !important;
    max-width: 41.66% !important;
}

.r3-clm .tabela-caixa.ap22477posicao325 .tabela-linha .col-9 {
    width: 58.33% !important;
    max-width: 58.33% !important;
}

.r3-clm .tabela-caixa.ap22477posicao476 .tabela-linha .col-4 {
    width: 50% !important;
    max-width: 50% !important;
}

.r3-clm .tabela-caixa.ap22477posicao476 .tabela-linha .col-8 {
    width: 50% !important;
    max-width: 50% !important;
}

.r3-clm .tabela-caixa.ap22477posicao975 .tabela-linha .col-4 {
    width: 50% !important;
    max-width: 50% !important;
}

.r3-clm .tabela-caixa.ap22477posicao975 .tabela-linha .col-8 {
    width: 50% !important;
    max-width: 50% !important;
}