.paragrafo.ap23367posicao881 {
  padding-bottom: initial !important;
  margin-bottom: initial !important;
}
.paragrafo.ap23367posicao882 {
  padding-top: initial !important;
}
.ap23367posicao753.mostraRespostaQuestoes {
	padding: 15px !important;
}
.paragrafo.ap23367posicao754,
.paragrafo.ap23367posicao756,
.paragrafo.ap23367posicao757,
.paragrafo.ap23367posicao758 {
  padding: initial !important;
  margin: initial !important;
}

.paragrafo.ap22427posicao881 {
  padding-bottom: initial !important;
  margin-bottom: initial !important;
}
.paragrafo.ap22427posicao882 {
  padding-top: initial !important;
}
.ap22427posicao753.mostraRespostaQuestoes {
	padding: 15px !important;
}
.paragrafo.ap22427posicao754,
.paragrafo.ap22427posicao756,
.paragrafo.ap22427posicao757,
.paragrafo.ap22427posicao758 {
  padding: initial !important;
  margin: initial !important;
}


