.#{$med_mederi} {
  .caixa--3 {
    border: 2px solid $cor-1;
    @include ard-std-caixa;

    &__filho--1 {
      display: block;
      text-align: left;
      font-family: NotoSans-Medium;
      font-size: 1.15em;
      width: -webkit-fill-available;
      margin-bottom: $ard-marbot-titulos;
    }

    .destaque--1.negrito,
    .destaque--2.negrito,
    .destaque--3.negrito {
      font-family: NotoSerif-SemiBold;
    }

    .destaque--1.italico,
    .destaque--2.italico,
    .destaque--3.italico {
      font-family: NotoSerif-Italic;
    }

    .destaque--1.negrito.italico,
    .destaque--2.negrito.italico,
    .destaque--3.negrito.italico {
      font-family: NotoSerif-SemiBoldItalic;
    }
  }

  .caixa-flex {
    display: flex;
  }
}