.#{$med_mederi} {
  .caixa--2 {
    @include ard-std-caixa;
    color: $cor-0;

    background-color: $cor-4;
    border: 4px dotted $cor-3;
    border-radius: 10px;

    .destaque--1.negrito,
    .destaque--2.negrito,
    .destaque--3.negrito {
      font-family: NotoSans-Bold;

      &.italico,
      .italico {
        font-family: NotoSans-BoldItalic;
      }

    }

  }
}