.#{$med_mederi} {
  .paragrafo {
    font-family: NotoSerif-Regular;
    line-height: $ard-line-height;
    margin-bottom: $ard-margem-paragrafo;

    @include negrito(NotoSerif-Bold);
    @include italico(NotoSerif-Italic);
    @include negrito-italico(NotoSerif-BoldItalic);

    &.capitalizado {
      font-family: NotoSerif-Regular;
      padding-right: 0;

      &::first-letter {
        color: $cor-1;
        font-size: 3.5em;
        line-height: 0.75;
        font-family: NotoSerif-Bold;
      }
    }

    &.alternativo {
      &::first-letter {
        color: #fff;
        background-color: $cor-9;
        padding: 0px 5px;
      }
    }

    &.intro-questoes {
      display: block;
      color: $cor-3;
      margin-bottom: $ard-margem-paragrafo;
      font-family: NotoSans-MediumItalic;
    }

    &.divergencia {
      border-bottom: 2px solid $cor-1;
    }

    //SEPARAR
    &.legenda {
      &--1 {
        @include legenda-mederi;
        background-color: $cor-2;
      }
      &--2 {
        @include legenda-mederi;
        background-color: $cor-1;
      }
      &--3 {
        @include borda-bot;
        font-size: 0.85em;
        padding: 0;
        margin: 5px 5px 15px;
      }
    }
  }
}
