.#{$med_mederi} {
  .separador {
    display: inline-block;
    
    border: 1px solid transparent;
    width: -webkit-fill-available;

    &-seta-baixo {
      display: block;

      $url-seta: "../../imagens-componentes/seta-baixo-"+ str-slice(quote($med_mederi), 5) + ".png";
      background-image: url($url-seta);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: 0 auto 10px auto;
      height: 2em;
      width: 2em;
    }
  }
}