.#{$cpmed_extensivo} .cap .titulo--h2,
caixa-indice.#{$cpmed_extensivo} .indice-style .titulo--h2 {
    display: block;

    border: 6px double $cor-1;
    border-radius: 10px;
    color: $cor-3;
    font-family: NotoSans-ExtraBold;
    font-size: 1.6em;
    padding: 10px 10px 5px;
    width: -webkit-fill-available;

    area-indice & {
        font-size: 1.2rem;
        border-bottom-width: 2px;
        padding: 0;
    }

}
