.#{$cpmed_extensivo} .cap .titulo--h3,
caixa-indice.#{$cpmed_extensivo} .indice-style .titulo--h3 {
    @include italico(NotoSans-BoldItalic);

    display: block;
    border-bottom: 6px double $cor-3;
    color: $cor-1;
    font-size: 1.5em;
    font-family: NotoSans-Bold;
    padding: 10px 10px 5px;
    width: -webkit-fill-available;

    area-indice & {
        font-size: 1.1rem;
        border-bottom-width: 2px;
        padding: 0;
    }

}
