.#{$cpmed_extensivo} .cap .titulo--h4,
caixa-indice.#{$cpmed_extensivo} .indice-style .titulo--h4 {
  @include italico(NotoSans-MediumItalic);

  display: block;
  background-color: $cor-4;
  border: 2px solid $cor-1;
  border-radius: 5px;
  color: $cor-1;
  font-family: NotoSans-Medium;
  font-size: 1.4em;
  padding: 10px 10px 5px;

  area-indice & {
    font-size: 1rem;
    border-bottom-width: 2px;
    padding: 0;
  }
}
