.#{$cpmed_extensivo} .cap .titulo--h5,
caixa-indice.#{$cpmed_extensivo} .indice-style .titulo--h5 {
    display: block;

    border: 2px solid $cor-2;
    border-radius: 5px;
    color: $cor-3;
    font-family: NotoSans-Medium;
    font-size: 1.4em;
    padding: 10px 10px 5px;
    width: -webkit-fill-available;

    area-indice & {
        font-size: 1rem;
        border-bottom-width: 2px;
        padding: 0;
      }

}
