.#{$cpmed_extensivo} .cap .titulo--h6,
caixa-indice.#{$cpmed_extensivo} .indice-style .titulo--h6 {

  @include italico(NotoSans-MediumItalic);

  display: block;

  border-bottom: 2px solid $cor-1;
  color: $cor-3;
  font-family: NotoSans-Medium;
  font-size: 1.2em;
  line-height: 1;
  padding: 10px 0 5px;
  width: fit-content;

  .figura {
    margin-bottom: 0;
  }

  .paragrafo {
    margin-bottom: 0;

    .lista-bullet-8 {
      &::before {
        margin-top: 2px;
      }
    }
  }

  area-indice & {
    font-size: 1rem;
    border-bottom-width: 2px;
    padding: 0;
    border-bottom: none;
  }
}