<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="google-signin-scope" content="https://spreadsheets.google.com/feeds">
    <meta name="google-signin-client_id"
        content="898358535937-ufcu5f43nn8k25t1hi0r1ilirjon6r9q.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TCC - MEDQUERY</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.min.css" rel="stylesheet">
</head>

<body>
    <div class="container" id="app">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" v-on:click="abaAtiva='relatorios'" href="javascript:;"
                        onclick="location.reload()">MEDQUERY</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li v-bind:class="{active:abaAtiva=='relatorios'}" v-on:click="abaAtiva='relatorios'"
                            onclick="location.reload()">
                            <a href="javascript:;">ADMIN</a>
                        </li>
                        <li v-bind:class="{active:abaAtiva=='issues'}" v-on:click="abaAtiva='issues'">
                            <a href="javascript:;">Abertura de Demandas</a>
                        </li>
                        <li v-bind:class="{active:abaAtiva=='adms'}" v-on:click="abaAtiva='adms'">
                            <a href="javascript:;">Admins</a>
                        </li>
                        <li v-bind:class="{active:abaAtiva=='consultas'}" v-on:click="abaAtiva='consultas'">
                            <a href="javascript:;">Consultas</a>
                        </li>
                        <li v-bind:class="{active:abaAtiva=='treinamento'}" v-on:click="abaAtiva='treinamento'">
                            <a href="javascript:;">Relátorio</a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="mt-1"><img id="fotoPerfil" class="img-circle oculto" width="45px"></li>
                        <li><span id="nome-usuario" class="texto-comum oculto"></span></li>
                        <div id="botao-Google">
                            <li class="mt-2">
                                <div class="g-signin2" data-onsuccess="onSignIn" data-lang="pt-BR" id="botaoLogin">
                                </div>
                            </li>
                        </div>
                        <div id="botao-logout" style="display: none;">
                            <li>
                                <a href="#" onclick="deslogar();"><b class="texto-comum">Sair</b></a>
                            </li>
                        </div>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>

        <!-- #relatórios -->
        <div class="container" v-if="abaAtiva=='relatorios'" id="relatorios">
            <div class="row text-center">
                <h1>Gerenciar Clinicas</h1>
                <br>
                <form class="form-inline" onsubmit="consultaAPIController.pesquisaClinica(event)">
                    <!-- onchange="makeApiCall()" -->
                    <select id="clinicaConsultaSelect" class="form-control">
                        <option selected="selected">Todas</option>
                        <option>name</option>
                        <option>email</option>
                        <option value="Área Restrita">CIDADE</option>
                    </select>
                    <input type="text" id="clinicaConsultaText" class="form-control">
                    <button type="submit" class="admin btn-primary btn-sm btn-graficos">Consultar</button>
                </form>
                <br>
            </div>
            <p class="button-cadastro" onclick="cadastro()">
                Cadastrar nova Clínica
            </p>

            <div class="container pesquisaClinicaBtn">

            </div>

        </div>

        <!-- #relatórios -->
        <div class="container" >
            <div class="row text-center">
                <h1>Gerenciar Funcionários</h1>
                <br>
                <form class="form-inline" onsubmit="consultaAPIController.pesquisaFuncionario(event)">
                    <!-- onchange="makeApiCall()" -->
                    <select id="funcionarioConsultaSelect" class="form-control">
                        <option selected="selected">Todos</option>
                        <option>name</option>
                        <option>email</option>
                        <option value="Área Restrita">CIDADE</option>
                    </select>
                    <input type="text" id="funcionarioConsultaText" class="form-control">
                    <button type="submit" class="admin btn-primary btn-sm btn-graficos">Consultar</button>
                </form>
                <br>
            </div>
            <p class="button-cadastro" onclick="cadastroFuncionario()">
                Cadastrar nova Clínica
            </p>
            <div class="container pesquisaFuncionarioBtn">

            </div>
        </div>

        <!-- /#relatórios -->

        <div class="container" v-if="abaAtiva=='issues'" id="issues">
            <div id="" class="row text-center">

                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Atenção!</strong> Os Links só funcionarão quando estiver logado em uma conta Github da
                    Organização MEDGRUPO.
                </div>

                <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2 img-hover">
                    <a href="https://github.com/MEDGRUPOGIT/area-restrita/issues/new" target="_blank">
                        <img class="img-circle img-thumbnail img-responsive img-center" src="img/medgrupo2.png"
                            alt="Restrita">
                    </a>
                    <p class="h4">Restrita</p>
                </div>

                <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                    <a href="https://github.com/MEDGRUPOGIT/MsCross-Desktop/issues/new" target="_blank">
                        <img class="img-circle img-thumbnail img-responsive img-center" src="img/mspro.png"
                            alt="Medsoft Pro">
                    </a>
                    <p class="h4">MsPro-Desktop</p>
                </div>

                <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                    <a href="https://github.com/MEDGRUPOGIT/Inscricoes/issues/new" target="_blank">
                        <img class="img-circle img-thumbnail img-responsive img-center" src="img/medgrupo.png"
                            alt="Inscrições">
                    </a>
                    <p class="h4">Inscrições</p>
                </div>

                <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                    <a href="https://github.com/MEDGRUPOGIT/institucional-desktop/issues/new" target="_blank">
                        <img class="img-circle img-thumbnail img-responsive img-center" src="img/medgrupo2.png"
                            alt="Institucional">
                    </a>
                    <p class="h4">Institucional</p>
                </div>
            </div>
        </div>
        <!-- /#inssues -->


        <div class="container" v-if="abaAtiva=='adms'" id="adms">
            <div id="" class="row text-center">
                <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2 img-hover">
                    <a href="http://medreader.medgrupo.com.br/clients" target="_blank">
                        <img class="img-circle img-thumbnail img-responsive img-center" src="img/medsoft.png"
                            alt="Restrita">
                    </a>
                    <p class="h4">Apps Kongros</p>
                </div>

                <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                    <a a href="http://adm.medsoft.medgrupo.com.br/" target="_blank">
                        <img class="img-circle img-thumbnail img-responsive img-center" src="img/mspro.png"
                            alt="Medsoft Pro">
                    </a>
                    <p class="h4">Medsoft Desktop (Antigo)</p>
                </div>

                <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                    <a href="http://ctrlpanel2.medgrupo.com.br/" target="_blank">
                        <img class="img-circle img-thumbnail img-responsive img-center" src="img/controlpanel.png"
                            alt="Inscrições">
                    </a>
                    <p class="h4">Painel de Controle</p>
                </div>

                <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                    <a href="https://medgrupo.freshdesk.com/" target="_blank">
                        <img class="img-circle img-thumbnail img-responsive img-center" src="img/freshdesk.png"
                            alt="Institucional">
                    </a>
                    <p class="h4">Freshdesk</p>
                </div>

            </div>

            <hr />

        </div>
        <!-- /#adms -->


        <div class="container" v-if="abaAtiva=='consultas'" id="consultas">
            <div class="row">
                <div class="col-md-offset-1">
                    <p class="h3">
                        Consultas -
                        <small class="text-muted">API</small>
                    </p>
                </div>
                <br />

                <div class="text-center">
                    <form class="form" onsubmit="consultaAPIController.consultaApostilasPermitidas(event)">
                        <div class="form-group col-sm-3 col-md-3">
                            <label for="ApostilasPermitidas">Apostilas Permitidas</label>
                            <input class="form-control input-sm" type="text" id="ApostilasPermitidas"
                                placeholder="ID Aluno" />
                            <button type="submit" class="btn btn-default btn-sm">Consultar</button>
                        </div>
                    </form>

                    <form class="form" onSubmit="return consultaSlidesPermitidos();">
                        <div class="form-group col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1">
                            <label for="SlidesPermitidosAluno">Slides Permitidos</label>
                            <input class="form-control input-sm" type="text" id="SlidesPermitidosAluno"
                                placeholder="ID Aluno" />
                            <input class="form-control input-sm" type="text" id="SlidesPermitidosApostila"
                                placeholder="ID Apostila" />
                            <button type="submit" class="btn btn-default btn-sm">Consultar</button>
                        </div>
                    </form>

                    <form class="form" onSubmit="return consultaSlidesBaixados();">
                        <div class="form-group col-sm-3 col-md-3">
                            <label for="SlidesBaixados">Slides Baixados</label>
                            <input class="form-control input-sm" type="text" id="SlidesBaixados"
                                placeholder="ID Aluno" />
                            <button type="submit" class="btn btn-default btn-sm">Consultar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /row -->

            <div id="ConsultaAPIView">

            </div>



        </div>
        <!-- /#consultas -->

        <div class="container" v-if="abaAtiva=='treinamento'" id="treinamento">
            <div id="" class="row text-center">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Atenção!</strong> Os Links só funcionarão quando estiver logado em uma conta de email do
                    domínio MEDGRUPO.
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2 img-hover">
                        <a href="https://docs.google.com/document/d/1b5sstWwSDOcju53NGXClSXlrwO1u7lSjSnWfbBDMYKk/edit"
                            target="_blank">
                            <img class="img-circle img-thumbnail img-responsive img-center" src="img/apps.png"
                                alt="Restrita">
                        </a>
                        <p class="h4">Principais Funcionalidades</p>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                        <a a href="https://docs.google.com/document/d/13fV89MJDTF7AwiNiVi0qnlQhwhs9E-6qXxZNIe3ImFQ/edit"
                            target="_blank">
                            <img class="img-circle img-thumbnail img-responsive img-center" src="img/helpdesk.png"
                                alt="Medsoft Pro">
                        </a>
                        <p class="h4">Manual de Atendimento</p>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                        <a href="https://docs.google.com/document/d/1tufFN3icty5wMIXSt0ww2j8DLqkNfTYGUczP4_PS2PU/edit"
                            target="_blank">
                            <img class="img-circle img-thumbnail img-responsive img-center" src="img/block.png"
                                alt="Inscrições">
                        </a>
                        <p class="h4">CPF Bloqueado</p>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                        <a href="https://docs.google.com/document/d/1_mvuJqieo4TM8bU-7wyzMyWgBoNRUhxFmDLSOj_CDrU/edit"
                            target="_blank">
                            <img class="img-circle img-thumbnail img-responsive img-center" src="img/qrcode.png"
                                alt="Institucional">
                        </a>
                        <p class="h4">LoginCode</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2 img-hover">
                        <a href="https://docs.google.com/document/d/1Q0VpuMULSP1EV1z0kfJqgh2PwZr1x6fjtLOaGLObF7U/edit#heading=h.suxexcjthpk"
                            target="_blank">
                            <img class="img-circle img-thumbnail img-responsive img-center" src="img/query.png"
                                alt="Institucional">
                        </a>
                        <p class="h4">Regras de Acesso</p>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                        <a href="https://docs.google.com/document/d/1Pq_Ca0azlLYXQFYQPRq1YngUXdrPdX3brwi1m5xtvik/edit"
                            target="_blank">
                            <img class="img-circle img-thumbnail img-responsive img-center" src="img/question.png"
                                alt="Institucional">
                        </a>
                        <p class="h4">Problemas Comuns</p>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                        <a href="https://docs.google.com/document/d/1Bf1BvtsPSSWLwjv7S3xGBglifYsHPAjWo_SeHNTObQI/edit"
                            target="_blank">
                            <img class="img-circle img-thumbnail img-responsive img-center" src="img/simulado.png"
                                alt="Institucional">
                        </a>
                        <p class="h4">Simulados</p>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-2 img-hover">
                        <a href="https://docs.google.com/document/d/1yzfXmRALBj-UJOvIra53lWxB4uorOCjySq0F-BOHJoc/edit"
                            target="_blank">
                            <img class="img-circle img-thumbnail img-responsive img-center" src="img/minutorevalida.png"
                                alt="Institucional">
                        </a>
                        <p class="h4">Minuto Revalida</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#treinamentos -->
    </div>
    <!-- /#app -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/grafico.js"></script>
    <script src="https://apis.google.com/js/auth.js"></script>
    <script src="js/consultaApi.js"></script>
    <script src="js/app/models/Apostila.js"></script>
    <script src="js/login.js"></script>
    <script src="js/app/models/ListaConsultaAPI.js"></script>
    <script src="js/app/controllers/ConsultaAPIController.js"></script>
    <script src="js/app/controllers/ConsultaAPIControllerFuncionario.js"></script>
    <script src="js/app/views/ConsultaAPIView.js"></script>

    <script>
        let consultaAPIController = new ConsultaAPIController();
    </script>
</body>

</html>