.#{$mdc_medyn} {
  .caixa--5 {
    @include ard-std-caixa($padding: null);
    // border: 6px solid $cor-4;

    &__filho--1 {
      background-color: $cor-4;
      font-family: AkzidenzGroteskBold;
      color: #fff;
      padding: 5px;
      display: block;
      border: 6px solid $cor-4;
      border-bottom: none;
    }

    &__filho--2 {
      @include ard-std-caixa($margin: 0);
      background-color: $cor-11;
      border: 6px solid $cor-4;
      border-top: none;

      .paragrafo {
        @include caixa-texto;

        &.negrito.italico,
        &.negrito .italico,
        .negrito.italico,
        .negrito .italico {
          font-family: UniversLTPro-BoldCond;
          font-style: italic !important;
        }
      }
    }
  }
}
