.#{$r3_mederi} {

  .paragrafo,
  button.btn-tool-color,
  div.color-option {

    .destaque--0,
    &.destaque--0 {
      color: #fff;
    }

    .destaque-primario,
    &.destaque-primario,
    .destaque--1,
    &.destaque--1 {
      color: $cor-1;
    }

    &.destaque-secundario,
    .destaque-secundario,
    .destaque--2,
    &.destaque--2 {
      color: $cor-2;
    }

    .destaque-terciario,
    &.destaque-terciario,
    .destaque--3,
    &.destaque--3 {
      color: $cor-3;
    }

    &.introducao {
      color: $cor-12;
    }

    &.destaque-questoes,
    .destaque-questoes {
      display: block;
      color: $cor-3;
      font-size: 1.1em;
      font-family: NotoSans-MediumItalic;
      @include negrito(NotoSerif-BoldItalic);
      text-align: justify;
      padding: 5px 0;
      margin-bottom: 5px;
    }
  }

  .destaque-questoes {
    display: block;
    color: $cor-3;
    font-size: 1.1em;
    font-family: NotoSans-MediumItalic;
    @include negrito(NotoSerif-BoldItalic);
    text-align: justify;
    padding: 5px 0;
    margin-bottom: 30px;
  }
}

// .#{$r3_mederi}.modo-noturno {
//   .paragrafo.introducao {
//     // color: #f48f9d;
//     color: $cor-4;
//   }
// }