.#{$r3_mederi} {
  .paragrafo {
    font-family: NotoSerif-Regular;
    margin-bottom: $margem-paragrafo;
    line-height: $line-height;
    color: $cor-0;

    @include negrito(NotoSerif-Bold);
    @include italico(NotoSerif-Italic);
    @include negrito-italico(NotoSerif-BoldItalic);

    &.capitalizado {
      margin-top: 30px;

      &::first-letter {
        font-size: 3.5em;
        line-height: 0.75;
        padding-right: 5px;
      }
    }

    .figura {
      color: $cor-1;
      font-family: NotoSerif-BoldItalic;
    }
  }
}

// .#{$r3_mederi}.modo-noturno {
//   .paragrafo {
//     color: $cor-0-modo-noturno;
//   }
// }
