$mdc_medyklin: mdc-hem;

$cor-0: #424242;
$cor-1: #b82029;
$cor-2: #dc9798;
$cor-3: #fdded9;
$cor-4: #c35243;
$cor-5: #eed5cb;
$cor-6: #e2aaa9;
$cor-7: #ebc7c5;
$cor-8: #f2dbd9;
$cor-9: #f7ebe9;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;