$r3_mederi: r3-cir;

$cor-0: #424242;
$cor-1: #8bc34a;
$cor-2: #33691e;
$cor-3: #689f38;


$cor-7: #d5e6c1;

$cor-4: #c5e1a5;
$cor-titulo-h5: #c5e1a5;
$cor-5: #f1f8e9;

$cor-8: #eeeeee;
$cor-9: #e0e0e0;
$cor-10: #bdbdbd;

$cor-11: #8bc34a;
$cor-popup: #f57c00;

/* MODO DIURNO */

$cor-12: #9ccc65;
$cor-14: #33691e;
$cor-15: #8bc34a;

/* componente (nivel 6) varia pro modo noturno utilizando cores basicas */
$cor-16: #33691e;
$cor-17: #8bc34a;

/* quadro resumo - tabela */
$cor-18: #35691e;
$cor-19: #546b1e;
$cor-20: #d3e9bb;

$cor-22: #33691e;
/* tambem é cor de titulo de saiba mais */
$cor-23: #d3e9bb;
/* também é cor de caixas e tabelas */
$cor-24: #bdbdbd;
/* também é cor de tabela */

$cor-25: #f6f6f6;

$cor-26: #c5e1a5;

$cor-27: #9ccc65;
$cor-28: #fff;
$cor-29: #689f38;
$cor-30: #fff;
$cor-31: #8bc34a;
$cor-32: #9ccc65;
$cor-33: #c5e1a5;



/* MODO NOTURNO */

$cor-12-modo-noturno: #383838;
$cor-13-modo-noturno: #353535;
$cor-14-modo-noturno: #333333;
$cor-15-modo-noturno: #2e2e2e;

/* componente varia pro modo noturno utilizando cores basicas */
$cor-16: #d3e9bb;

/* quadro resumo - tabela */
$cor-18-modo-noturno: #2e2e2e;
$cor-19-modo-noturno: #2c2c2c;
$cor-20-modo-noturno: #272727;

$cor-22-modo-noturno: #242424;
/* tambem é cor de titulo de questao */
$cor-23-modo-noturno: #222222;
/* também é cor de caixas e tabelas */
$cor-24-modo-noturno: #1e1e1e;
/* também é cor de tabela */

$cor-0-modo-noturno: #bdbdbd;

$cor-25-modo-noturno: #121212;

/* cores previously */
$cor-previously-primaria: #ecffd5;
$cor-previously-secundaria: #a3c17e;