.#{$r3_medwriters} {
  .container-imagem {
    display: block;

    img {
      width: 100%;
    }

    .paragrafo {
      &.legenda {
        display: block;
        padding: std-pad(5px 10px);
        font-family: NotoSans-Medium;
        @include negrito(NotoSans-Bold);
        border: 1px solid $cor-1;
        color: $cor-1;
        background-color: #fff;

        .italico .negrito {
          font-family: NotoSans-BoldItalic;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// .#{$r3_medwriters}.modo-noturno{
//   .paragrafo {
//     &.legenda {
//       background-color: $cor-24-modo-noturno;
//     }
//   }
// }