$mdc_medyklin: mdc-der;

$cor-0: #424242;
$cor-1: #8dc63f;
$cor-2: #50b848;
$cor-3: #e1eecd;
$cor-4: #a3cf62;
$cor-5: #ebf4de;
$cor-6: #79c366;
$cor-7: #aad69c;
$cor-8: #cde5c1;
$cor-9: #e3f1de;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;