// Correção de capa para MASTO CIR e MASTO GO das semanas 01-03
$ids_corrigidas: (
	23358: 0,
	23359: 9,
	23360: 9,
	23402: 0,
	23403: 9,
	23404: 9
);

@each $id, $pos in $ids_corrigidas {
	.apostila comp.container-imagem.ap#{$id}posicao#{$pos} {
		&::before {
      content: '';
			display: block;
			width: 100%;
      background-image: url("http://d1jsa4jz7pnf5n.cloudfront.net/96/#{$id}/imagem00.jpg");
      background-size: 100% auto;
      padding-top: 133%;
		}
		img {
			display: none !important;
		}
	}
}
