$r3_mederi: r3-ped;

$cor-1: #f06292;
$cor-2: #880e4f;
$cor-3: #c51162;

$cor-7: #ddb3c1;

$cor-4: #f48fb1;
$cor-titulo-h5: #f48fb1;
$cor-5: #fce4ec;

$cor-8: #eeeeee;
$cor-9: #e0e0e0;
$cor-10: #bdbdbd;

$cor-0: #424242;

$cor-11: #f06292;
$cor-popup: #f57c00;

/* MODO DIURNO */

$cor-12: #880e4f;
$cor-14: #880e4f;
$cor-15: #f06292;

/* componente (nivel 6) varia pro modo noturno utilizando cores basicas */
$cor-16: #f06292;
$cor-17: #881951;

$cor-18: #fff;
$cor-19: #c51162;
$cor-20: #f48fb1;

$cor-22: #880e4f;
/* tambem é cor de titulo de saiba mais */
$cor-23: #f48fb1;
/* também é cor de caixas e tabelas */
$cor-24: #bdbdbd;
/* também é cor de tabela */

$cor-25: #f6f6f6;
$cor-26: #f48fb1;
$cor-27: #880e4f;
$cor-28: #f06292;
$cor-29: #fff;
$cor-30: #f48fb1;
$cor-31: #881951;
$cor-32: #f48fb1;
$cor-33: #f48fb1;

/* MODO NOTURNO */

$cor-12-modo-noturno: #383838;
$cor-13-modo-noturno: #353535;
$cor-14-modo-noturno: #333333;
$cor-15-modo-noturno: #2e2e2e;

/* componente varia pro modo noturno utilizando cores basicas */
$cor-16: #f48fb1;
$cor-17: #c51162;

/* quadro resumo - tabela */
$cor-18-modo-noturno: #2e2e2e;
$cor-19-modo-noturno: #2c2c2c;
$cor-20-modo-noturno: #272727;

$cor-22-modo-noturno: #242424;
/* tambem é cor de titulo de questao */
$cor-23-modo-noturno: #222222;
/* também é cor de caixas e tabelas */
$cor-24-modo-noturno: #1e1e1e;
/* também é cor de tabela */

$cor-0-modo-noturno: #bdbdbd;

$cor-25-modo-noturno: #121212;

/* cores previously */
$cor-previously-primaria: #ffabc8;
$cor-previously-secundaria: #d47596;

// ERRATAS //

.ap22543posicao2196 {
  display: none;
}
