.apostila {
	display: block;
	margin: 0;
	border: 0;
	font-size: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0 8px;
	quotes: none;
	list-style: none;
	position: relative;
	line-height: 1.42;

	.cap {
		display: inline-block;
		width: -webkit-fill-available;

		&.invisivel{
			display: none!important;
		}
	}
}   

.bloco {
	display: block;
}

comp[data-comp-container] {
  display: block;
}

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
// Abaixo fica código que provavelmente não deve ser alterado.
// Consulte o time antes de qualquer alteração!
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

.ql-editor {
	padding: 0 !important;
}

// Pra que serve? Modal de imagem no MSPro?
.zoom-view .zoom-view__image {
	width: auto !important;
}
@media screen and (device-height: 1280px) and (device-width: 800px) and (-webkit-device-pixel-ratio: 1.5) {
	.zoom-view__image-modal {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

// teste spacing video rate
.videomiolo.spacing-rate-video {
	margin-bottom: 90px !important;
}

// O ionic que usamos no App, utiliza a classe .light para deixar as fontes com a cor branca.
// Nunca remova essa classe daqui, pois ela é um lembrete disso.
// Não podemos usar a classe .light sozinha.
.light,
a.light {
	color: white;
}

// Correção solicitada pelos apostileiros (Marcus) para corrigir o erro dos videos que estavam ficando 10px para cima.
.ql-editor > p:first-child {
	margin-bottom: 0;
}

// Erratas
.errata .errata .ms-reader__errata__box--titulo,
.errata .errata + .errata-ref {
	display: none;
	visibility: hidden;
}
.errata .errata .ms-reader__errata__box {
	border-style: none;
}

.errata .botao-questoes {
	display: none;
}
.errata .resposta-questoes .paragrafo {
	max-height: 9999px !important;
}

.questoes.errata-ref .ms-reader__errata-ref__box--conteudo comp:not(.botao-questoes){
    color: #424242;
}

.lista__marcador.ap25422posicao1952,
.lista__marcador.ap25422posicao1954,
.lista__marcador.ap25422posicao1956 {
  white-space: initial !important;
  flex-shrink: initial !important;
}