.componente-biblioteca {
	display: block;
	cursor: pointer;
	transition: all 0.2s linear;
	position: relative;

	&:hover {
		opacity: 0.75;
	}

	&.copiando {
		box-shadow: 0 0 15px 5px rgba(0, 255, 35, 0.95);
		opacity: 0.6;
	}

	&::before {
		content: "COPIADO";
		background: green;
		color: white;
		font-family: GillSansMTProBold;
		padding: 1px 8px;
		position: absolute;
		z-index: 10;
		right: 0;
		border-radius: 10px;
		border: 1px solid #004802;
		opacity: 0;
		transition: all 0.2s linear;
	}

	&.copiando::before {
		opacity: 1;
		transition: opacity 0.2s linear;
		z-index: 12;
	}
}