.container-imagem {
  display: block;
  position: relative;
 
  img {
		vertical-align: bottom;
    width: 100%;
  }
}

@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait) {
  @include propriedades-container-tablet;
}

@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  @include propriedades-container-tablet;
}

@media screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  @include propriedades-container-tablet;
}

.container-logotipo {
  display: flex;
  width: -webkit-fill-available;
  margin-bottom: 10px;
  align-items: center;

  >.container-imagem {
    width: 20%;
    margin: 0 0 0 5px;
  }

  >.paragrafo {
    width: 80%;
    margin: 0 0 0 5px;
  }
}

@media screen and (min-width: 768px) {
  .container-logotipo {
    >.container-imagem {
      width: 15%;
    }

    >.paragrafo {
      width: 85%;
    }
  }
}

/////////////////////
// ANTIGO - NÃO USE!
/////////////////////
.apostila .container-logo {
  text-align: center;

  img {
    max-width: 175px;
  }
}

.apostila .container-imagem .paragrafo-borda{
  display: block;
  margin: 0 0 10px 0;
  padding: 0 0 0 8px;
  text-align: justify;
  border-left: 3px solid;
  border-color:  #2d816b;
  font-family: UniversLTStd0;
  width: webkit-fill-available;
}
