.questoes-miolo {
	display: block;
	margin: 20px 0;

	img {
		width: 100%;
	}

	.resposta-questoes-miolo {
		display: block;
		margin-bottom: 10px;

		&-02 {
			display: none;
		}

		&.mostraRespostaQuestoesMiolo {
			.resposta-questoes-miolo-01 {
				display: none;
			}

			.resposta-questoes-miolo-02 {
				display: block;
			}
		}
	}

	.botao-questoes-miolo {
		width: 10em;
		display: block;
		margin: 0 auto;
		padding: 3px 5px;
		background-color: #ed6c21;
		text-align: center;
		color: white;
		font-family: FSEmericBook;
		cursor: pointer;

		&::before {
			display: none;
		}
	}
}

// Dentro do hypothesis, o botão de questões miolo deve ficar visualmente idêntico ao botão do hypothesis
.hypotesis .questoes-miolo {
	.resposta-questoes-miolo-02 .paragrafo {
		color: #f00;
	}

	.botao-questoes-miolo {
		background-color: #994014;
		border-radius: 25px;
		color: #fff;
		text-align: center;
		padding: 0 10px;
		line-height: 2;
		width: 50%;
		margin: 0 auto 10px auto;
	}
}