$mdc_medyklin: mdc-gas;

$cor-0: #424242;
$cor-1: #627632;
$cor-2: #355c49;
$cor-3: #cecc9d;
$cor-4: #7c894d;
$cor-5: #ddded0;
$cor-6: #577261;
$cor-7: #8a9a8e;
$cor-8: #b2bbb3;
$cor-9: #d3d7d3;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;