
////////////////////////////////
// ZillaSlab - fonte de títulos
////////////////////////////////

// Variação - Light
@font-face {
	font-family: ZillaSlab-Light;
	src: url(../../fonts-componentes/ZillaSlab-Light.ttf);
}
@font-face {
	font-family: ZillaSlab-LightItalic;
	src: url(../../fonts-componentes/ZillaSlab-LightItalic.ttf);
}

// Variação - Regular
@font-face {
	font-family: ZillaSlab-Regular;
	src: url(../../fonts-componentes/ZillaSlab-Regular.ttf);
}
@font-face {
	font-family: ZillaSlab-Italic;
	src: url(../../fonts-componentes/ZillaSlab-Italic.ttf);
}

// Variação - Medium
@font-face {
	font-family: ZillaSlab-Medium;
	src: url(../../fonts-componentes/ZillaSlab-Medium.ttf);
}
@font-face {
	font-family: ZillaSlab-MediumItalic;
	src: url(../../fonts-componentes/ZillaSlab-MediumItalic.ttf);
}

// Variação - SemiBold
@font-face {
	font-family: ZillaSlab-SemiBold;
	src: url(../../fonts-componentes/ZillaSlab-SemiBold.ttf);
}
@font-face {
	font-family: ZillaSlab-SemiBoldItalic;
	src: url(../../fonts-componentes/ZillaSlab-SemiBoldItalic.ttf);
}

// Variação - Bold
@font-face {
	font-family: ZillaSlab-Bold;
	src: url(../../fonts-componentes/ZillaSlab-Bold.ttf);
}
@font-face {
	font-family: ZillaSlab-BoldItalic;
	src: url(../../fonts-componentes/ZillaSlab-BoldItalic.ttf);
}

//////////////////////////////////
// OpenSans - fonte de texto
//////////////////////////////////

// Variação - Light
@font-face {
	font-family: OpenSans-Light;
	src: url(../../fonts-componentes/OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSans-LightItalic;
	src: url(../../fonts-componentes/OpenSans-LightItalic.ttf);
}

// Variação - Regular
@font-face {
	font-family: OpenSans-Regular;
	src: url(../../fonts-componentes/OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSans-Italic;
	src: url(../../fonts-componentes/OpenSans-Italic.ttf);
}

// Variação - SemiBold
@font-face {
	font-family: OpenSans-SemiBold;
	src: url(../../fonts-componentes/OpenSans-SemiBold.ttf);
}
@font-face {
	font-family: OpenSans-SemiBoldItalic;
	src: url(../../fonts-componentes/OpenSans-SemiBoldItalic.ttf);
}

// Variação - Bold
@font-face {
	font-family: OpenSans-Bold;
	src: url(../../fonts-componentes/OpenSans-Bold.ttf);
}
@font-face {
	font-family: OpenSans-BoldItalic;
	src: url(../../fonts-componentes/OpenSans-BoldItalic.ttf);
}

// Variação - ExtraBold
@font-face {
	font-family: OpenSans-ExtraBold;
	src: url(../../fonts-componentes/OpenSans-ExtraBold.ttf);
}
@font-face {
	font-family: OpenSans-ExtraBoldItalic;
	src: url(../../fonts-componentes/OpenSans-ExtraBoldItalic.ttf);
}
