$mdc_medyn: mdc-obs;

$cor-0: #424242;

$cor-1: #DD7890;
$cor-2: #B6495F;
$cor-3: #8E324B;
$cor-4: #faa74a;

$cor-5: #FAEDEE;
$cor-6: #F5DFE2;

$cor-7: #F3E4E4;
$cor-8: #EAD0D0;
$cor-9: #DCABAE;

$cor-10: #ea8c1c;
$cor-11: #fde0ba;


