.#{$medeletro} .cap .titulo--h7,
caixa-indice.#{$medeletro} .indice-style .titulo--h7 {

  @include titulos-medeletro;

  font-family: NotoSans-MediumItalic;
  color: $cor-1;
  font-size: 1.4rem;
  width: fit-content;
  max-width: 72%;
  text-transform: uppercase;

  area-indice & {
    font-size: 1.3rem;
    border-bottom-width: 2px;
    padding: 0;
  }
}