.#{$medeletro} .cap .container-titulo--h1,
caixa-indice.#{$medeletro} .indice-style .container-titulo--h1 {

  @include titulos-medeletro;
  background-color: $cor-2;
  line-height: 1.3;
  padding-bottom: 10px;

  .titulo--h1 {
    display: block;
    color: #fff;
    border-bottom: 6px dashed $cor-11;
    font-family: NotoSans-Medium;
    font-size: 1.9em;
    text-transform: uppercase;

    area-indice & {
      font-size: 1.3rem;
      border-bottom-width: 2px;
      padding: 0;
    }
  }
}