$intensivao: rac;

$cor-0: #000;

$cor-1: #0067a0;
$cor-2: #3792ba;
$cor-3: #e8b908;

$cor-h2: #115471;
$cor-fundo-questoes-alt: #faf0ce;
$cor-fundo-contexto: #9dbfd8;
$cor-fundo-tabela-h3: #3a80b2;

$cor-fundo-tabela: #e9f0f7;
$cor-fundo-tabela-alt: #e6ecf5;

// Aplicável para a fonte ZillaSlab da apostila.
// Porém, não funciona quando o número é o primeiro caracter do elemento.
// .apostila.rac {
//     font-variant-numeric: lining-nums;
// }