.#{$med_mederi} {
  // CAIXA
  .tabela-caixa {
    @include ard-std-caixa($padding: 0);

    border: 2px solid $cor-1;

    // Remove a margin caso haja tabela caixa dentro de tabela caixa...
    .tabela-caixa {
      margin: 0;
    }

    &.sem-borda {
      border: none;
      .tabela-linha{
        border-bottom: 2px solid #fff !important;
        .tabela-coluna{
          border-right-color: #fff !important;
        }
      }
    }

    // LINHA
    
    .tabela-linha {
      &:not(:last-child) {
        border-bottom: 2px solid $cor-1;
      }

      $fundo: (
        0: #fff,
        1: $cor-1,
        2: $cor-2,
        3: $cor-5,
        4: $cor-5,
        5: $cor-7,
        6: $cor-3,
        7: $cor-2,
        8: #fff,
        9: transparent
      );

      @each $name, $background in $fundo {
        .tabela-coluna.tabela--h#{$name} {
          background-color: $background;

          @if ($name==1) {
            color: #fff;
            font-family: NotoSans-SemiBold;
            font-size: 1.1em;
            display: block;
            margin-bottom: 0;
            line-height: 1.62;
          }

          @if ($name==2) {
            color: #fff;
            font-family: NotoSerif-SemiBold;
            display: block;
          }

          @if ($name==3) {
            display: block;
            color: $cor-2;
            font-family: NotoSerif-SemiBold;
          }

          @if ($name==6 or $name==7) {
            color: #fff;
          }
        }
      }

      // COLUNA
      .tabela-coluna {
        background-color: $cor-4;
        padding: 8px 8px 4px;

        &.centralizado-vertical {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &.borda-dir {
          border-right-color: $cor-1;
        }

        .paragrafo {
          &.destaque--1.negrito.italico,
          &.destaque--2.negrito.italico,
          &.destaque--3.negrito.italico {
            font-family: NotoSerif-SemiBoldItalic;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &.legenda {
            &-tabela,
            &-tabela-rosa {
              @include borda-bot;
              font-size: 0.85em;
              padding: 0;
              margin: 5px 5px 15px;

              &-rosa {
                border-bottom: 2px solid $cor-1;
                width: fit-content;

              }
            }
          }
        }
      }
    }
  }
}
