$mdc_medyn: mdc-ped;

$cor-0: #424242;

$cor-1: #00B7C6;
$cor-2: #00758C;
$cor-3: #005A6C;
$cor-4: #faa74a;

$cor-5: #E8F5F6;
$cor-6: #D3EDF0;

$cor-7: #D8E9EC;
$cor-8: #B9D8E0;
$cor-9: #7EBAC8;

$cor-10: #ea8c1c;
$cor-11: #fde0ba;

