//////////////////////////////////
// Exo - fonte de texto e títulos
//////////////////////////////////

// Variação - Thin


// @font-face {
// 	font-family: Exo-Thin;
// 	src: url(../../fonts-componentes/Exo-Thin.ttf);
// }
// @font-face {
// 	font-family: Exo-ThinItalic;
// 	src: url(../../fonts-componentes/Exo-ThinItalic.ttf);
// }


// Variação - ExtraLight
// @font-face {
// 	font-family: Exo-ExtraLight;
// 	src: url(../../fonts-componentes/Exo-ExtraLight.ttf);
// }
// @font-face {
// 	font-family: Exo-ExtraLightItalic;
// 	src: url(../../fonts-componentes/Exo-ExtraLightItalic.ttf);
// }

// Variação - ExtraLight
// @font-face {
// 	font-family: Exo-ExtraLight;
// 	src: url(../../fonts-componentes/Exo-ExtraLight.ttf);
// }
// @font-face {
// 	font-family: Exo-ExtraLightItalic;
// 	src: url(../../fonts-componentes/Exo-ExtraLightItalic.ttf);
// }

@font-face {
	font-family: Exo-Thin;
	src: url(../../fonts-componentes/Exo-Thin.ttf);
}
@font-face {
	font-family: Exo-ThinItalic;
	src: url(../../fonts-componentes/Exo-ThinItalic.ttf);
}

// Variação - ExtraLight
@font-face {
	font-family: Exo-ExtraLight;
	src: url(../../fonts-componentes/Exo-ExtraLight.ttf);
}
@font-face {
	font-family: Exo-ExtraLightItalic;
	src: url(../../fonts-componentes/Exo-ExtraLightItalic.ttf);
}

// Variação - Light
@font-face {
	font-family: Exo-Light;
	src: url(../../fonts-componentes/Exo-Light.ttf);
}
@font-face {
	font-family: Exo-LightItalic;
	src: url(../../fonts-componentes/Exo-LightItalic.ttf);
}

// Variação - Regular
@font-face {
	font-family: Exo-Regular;
	src: url(../../fonts-componentes/Exo-Regular.ttf);
}
@font-face {
	font-family: Exo-Italic;
	src: url(../../fonts-componentes/Exo-Italic.ttf);
}

// Variação - Medium
@font-face {
	font-family: Exo-Medium;
	src: url(../../fonts-componentes/Exo-Medium.ttf);
}
@font-face {
	font-family: Exo-MediumItalic;
	src: url(../../fonts-componentes/Exo-MediumItalic.ttf);
}


// Variação - SemiBold
@font-face {
	font-family: Exo-SemiBold;
	src: url(../../fonts-componentes/Exo-SemiBold.ttf);
}
@font-face {
	font-family: Exo-SemiBoldItalic;
	src: url(../../fonts-componentes/Exo-SemiBoldItalic.ttf);
}


// Variação - Bold
@font-face {
	font-family: Exo-Bold;
	src: url(../../fonts-componentes/Exo-Bold.ttf);
}
@font-face {
	font-family: Exo-BoldItalic;
	src: url(../../fonts-componentes/Exo-BoldItalic.ttf);
}

// Variação - ExtraBold

// @font-face {
// 	font-family: Exo-ExtraBold;
// 	src: url(../../fonts-componentes/Exo-ExtraBold.ttf);
// }
// @font-face {
// 	font-family: Exo-ExtraBoldItalic;
// 	src: url(../../fonts-componentes/Exo-ExtraBoldItalic.ttf);
// }


// Variação - Black
// @font-face {
// 	font-family: Exo-Black;
// 	src: url(../../fonts-componentes/Exo-Black.ttf);
// }
// @font-face {
// 	font-family: Exo-BlackItalic;
// 	src: url(../../fonts-componentes/Exo-BlackItalic.ttf);
// }


// Variação - Black
// @font-face {
// 	font-family: Exo-Black;
// 	src: url(../../fonts-componentes/Exo-Black.ttf);
// }
// @font-face {
// 	font-family: Exo-BlackItalic;
// 	src: url(../../fonts-componentes/Exo-BlackItalic.ttf);
// }

@font-face {
	font-family: Exo-ExtraBold;
	src: url(../../fonts-componentes/Exo-ExtraBold.ttf);
}
@font-face {
	font-family: Exo-ExtraBoldItalic;
	src: url(../../fonts-componentes/Exo-ExtraBoldItalic.ttf);
}


// Variação - Black
@font-face {
	font-family: Exo-Black;
	src: url(../../fonts-componentes/Exo-Black.ttf);
}
@font-face {
	font-family: Exo-BlackItalic;
	src: url(../../fonts-componentes/Exo-BlackItalic.ttf);
}

