$marcadores: (
	bullet-3 "\2022"0 (font-family ArialMTStd) (line-height 1.8),
	bullet-4 "\2013"0 (font-family ArialMTStd),
	bullet-1 "\00bb"0 (font-family ArialMTStd) (line-height 1.7)
);

.#{$intensivao} {
	.lista-flexivel {
		// margin: 0 0 $ard-margem-lista-flexivel 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include marcadores($marcadores) {
		display: flex;
		width: -webkit-fill-available;
		margin-bottom: $ard-margem-lista-flexivel;
		&:last-child {
			margin-bottom: 0;
		}
	}

	@include marcadores($marcadores, before, inicializa) {
		@include propriedades-marcador;
		color: $cor-1;
	}
}
