$med_medwriters: med-clm;

$cor-0: #424242;
$cor-1: #e74315;
$cor-2: #f39200;
$cor-3: #ffca28;
$cor-4: #994014;
$cor-5: #0076c0;
$cor-6: #00a339;
$cor-7: #fcdfce;
$cor-8: #f8bc9c;
$cor-9: #fdf2e0;
$cor-10: #fbdeb1;
$cor-11: #f9c87e;
$cor-12: #eeeeee;
$cor-13: #e0e0e0;
$cor-14: #bdbdbd;
$cor-15: #666;
