$mdc_medyn: mdc-gin;

$cor-0: #424242;

$cor-1: #F7966B;
$cor-2: #C85D36;
$cor-3: #873F24;
$cor-4: #faa74a;

$cor-5: #FFF1E9;
$cor-6: #FEE7D9;

$cor-7: #F8E7DE;
$cor-8: #F2D5C5;
$cor-9: #E8B49A;

$cor-10: #ea8c1c;
$cor-11: #fde0ba;


