.#{$intensivao} {
	.questoes {
		@include ard-std-caixa;

		&.variacao-gold {
			background-color: $cor-fundo-questoes-alt;
			border-radius: 10px;

			.botao-questoes {
				background-color: $cor-3;
				border-color: #fff;
			}
		}

		.titulo-questoes {
			font-family: OpenSans-Italic;
			font-size: 1.2em;
			padding: 0;
			margin-bottom: 0;

			+ .paragrafo,
			+ .enunciado {
				margin-top: $ard-margem-paragrafo;
				padding-top: 15px;
				margin-top: 15px;
				border-top: 1px solid #d4d4d4;
			}

			~ .paragrafo .lista-flexivel {
				margin: 0 0 $ard-margem-lista-questoes 0;
			}
		}

		.enunciado {
			display: block;
			margin-bottom: $ard-margem-paragrafo;
		}

		.enunciado .paragrafo,
		.resposta-questoes .paragrafo {
			font-family: OpenSans-Regular;
			@include negrito(OpenSans-Bold);
		}

		.paragrafo {
			font-family: OpenSans-Regular;
			@include negrito(OpenSans-BoldItalic);
			font-style: normal;
		}

		& > .paragrafo .lista-flexivel .lista__texto {
			font-family: OpenSans-Italic;
		}

		.botao-questoes {
			background-color: $cor-1;
			border-color: $cor-2;
		}

		.resposta-questoes.mostraRespostaQuestoes {
			.paragrafo {
				&:first-child::before {
					content: "R. ";
					color: $cor-2;
					font-family: NotoSerif-Bold;
				}
			}
		}
	}
}
