$medeletro: medeletro;

$cor-1: #668399;
$cor-2: #132734;
$cor-3: #406076;
$cor-4: #ecf2f7;
$cor-5: #506e84;

$cor-6: #c2d4e1;
$cor-7: #e4eef9;

$cor-8: #eeeeee;
$cor-9: #e0e0e0;
$cor-10: #bdbdbd;

$cor-11: #ef4752;

$cor-12: #e4eef9;
$cor-13:#88afcc;

$cor-0: #424242;


