.#{$med_medwriters} {
  .paragrafo {
    @include propriedades-paragrafo;

    font-family: NotoSans-Regular;
    line-height: $ard-line-height;

    @include negrito(NotoSans-Bold);
    @include italico(NotoSans-Italic);
    @include negrito-italico(NotoSans-BoldItalic);

    &.capitalizado {
      &::first-letter {
        color: $cor-1;
        font-family: NotoSans-Bold;
        font-size: 3.5em;
        line-height: 0.75;
      }
    }

    &.intro-questoes {
      @include propriedades-paragrafo;

      color: $cor-1;
      font-family: NotoSans-Italic;
    }

    &.legenda {
      &--1 {
        @include legenda-medwriters;
        border-bottom: 2px solid $cor-1;
        border-left: 2px solid $cor-1;
      }

      &--2 {
        @include legenda-medwriters;
        border-bottom: 2px solid $cor-2;
        border-left: 2px solid $cor-2;
      }

      &--3 {
        font-size: .85em;
        line-height: 1.2;
        margin-top: 3px;
        padding: 5px;
        background-color: $cor-2;
        color: #fff;
        width: fit-content;
      }

      &--4 {
        font-size: .85em;
        line-height: 1.2;
        margin-top: 3px;
        padding: 5px;
        background-color: $cor-1;
        color: #fff;
        width: fit-content;
      }

      &--5 {
        @include legenda-medwriters;
        color: #fff;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
      }
    }
  }
}
