.#{$med_medwriters} {
  .seta-baixo {
    background-image: url(../../imagens-componentes/descricao-seta.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 15px;
    margin-left: 6px;
    margin-bottom: 8px;
    padding: 2px;
  }
  .separador-seta-baixo--laranja {
    background-image: url(../../imagens-componentes/seta-baixo-clm.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 5em;
    width: 5em;
    background-position: center;
    margin: 0 auto 10px auto;
  }
}
