.#{$intensivao} .cap .titulo,
caixa-indice.#{$intensivao} .indice-style .titulo {
  &--h0 {
    display: block;
    text-align: center;
    padding: 0 5px;
    line-height: 1.25;
    color: $cor-1;
    border-bottom: 4px solid $cor-3;
    font-family: Exo-Medium;
    @include italico(Exo-MediumItalic);
    font-size: 2em;

    area-indice & {
      width: -webkit-fill-available;
      font-size: 1.21rem;
      border-bottom-width: 3px;
    }
  }

  &--h1 {
    display: block;
    text-align: left;
    // margin-bottom: $ard-margem-titulos;
    padding: $ard-padding-caixas;
    background-color: $cor-1;
    color: $cor-3;
    font-family: Exo-Bold;
    @include italico(Exo-BoldItalic);
    font-size: 1.8em;

    area-indice & {
      width: -webkit-fill-available;
      font-size: 1.14rem;
      padding: 10px;
    }
  }

  &--h2 {
    display: block;
    text-align: left;
    // margin-bottom: $ard-margem-titulos;
    padding: $ard-padding-caixas;
    background-color: $cor-2;
    color: #fff;
    font-family: Exo-SemiBold;
    @include italico(Exo-SemiBoldItalic);
    font-size: 1.65em;

    area-indice & {
      width: -webkit-fill-available;
      font-size: 1.07rem;
      padding: 10px;
    }
  }

  &--h3 {
    display: block;
    text-align: left;
    // margin-bottom: $ard-margem-titulos;
    padding: $ard-padding-caixas;
    background-color: $cor-h3;
    color: $cor-1;
    border: 2px solid $cor-1;
    font-family: Exo-Medium;
    @include italico(Exo-MediumItalic);
    font-size: 1.5em;

    area-indice & {
      width: -webkit-fill-available;
      font-size: 1rem;
      padding: 10px;
    }
  }

  &--h4 {
    display: block;
    text-align: left;
    // margin-bottom: $ard-margem-titulos;
    color: $cor-1;
    border-bottom: 2px solid $cor-2;
    font-family: Exo-BoldItalic;
    font-size: 1.3em;

    area-indice & {
      width: -webkit-fill-available;
      font-size: 0.93rem;
      border-bottom-width: 1px;
    }
  }
}
