.#{$med_mederi} {

  .saiba-mais,
  .saiba-mais-med--expandido {
    @include propriedades-saiba-mais;
    position: relative;
    overflow: hidden;

    &__titulo {
      @include propriedades-saiba-mais__titulo;

      background-color: $cor-1;
    }

    &__conteudo {
      @include propriedades-saiba-mais__conteudo;

      background-color: $cor-2;  

      .paragrafo {
        .figura {
          color: $cor-5;
        }
      }

      .olho {
        background-color: $cor-1;
      }

      .lista__texto {
        @include marcadores(circulo seta seta-2 seta-3, before) {
          color: $cor-3;
        }
      }

      &.destaque--1 {
        color: $cor-1;
      }
    }

    .caixa--3 {
      border: 2px solid #fff;
    }
  }

  .saiba-mais__expandir {
    background-color: $cor-3;
  }
}