$mdc_medyklin: mdc-inf;

$cor-0: #424242;
$cor-1: #da5e2d;
$cor-2: #f69063;
$cor-3: #fab395;
$cor-4: #e07b4d;
$cor-5: #f7e1d2;
$cor-6: #f8a47c;
$cor-7: #fcc5a7;
$cor-8: #fddac6;
$cor-9: #feebdf;
$cor-10: #eeeeee;
$cor-11: #e0e0e0;
$cor-12: #bdbdbd;