.#{$r3_mederi} {
  .quadro-resumo,
  .tabela-caixa {
    display: block;
    border: 1px solid $cor-1;
    margin: $margem-caixas-r3;

    @each $i in (bottom, top, left, right) {
      & .border-#{$i}-1 {
        border-#{$i}: 1px solid $cor-1;
      }
    }

    & .margin-bottom-0,
    & .celula.margin-bottom-0 {
      margin-bottom: 0px;
    }

    @mixin borda-bot {
      &.borda-bot-1 {
        border-bottom-color: $cor-1;
      }
    }

    .tabela--h0 {
      background-color: #fff;
      font-family: NotoSans-SemiBold;
      padding: $padding-caixas-r3;
    }

    &__titulo-h1,
    &__titulo-h1 .paragrafo,
    .tabela--h2,
    .tabela--h2 .paragrafo {
      background-color: $cor-3;
      color: #fff;
      font-family: NotoSans-SemiBold;
      text-align: justify;
      display: block;
      padding: $padding-caixas-r3;
      @include borda-bot;
    }

    &__titulo-h1--escuro,
    &__titulo-h1--escuro .paragrafo,
    .tabela--h1,
    .tabela--h1 .paragrafo {
      background-color: $cor-2;
      color: #fff;
      font-family: NotoSans-SemiBold;
      text-align: justify;
      display: block;
      padding: $padding-caixas-r3;
      width: -webkit-fill-available;
      @include borda-bot;
    }

    &__subtitulo-h2 {
      background-color: $cor-11;
      color: $cor-0;
      font-family: NotoSerif-SemiBold;
      text-align: justify;
      display: block;
      padding: 15px;
    }

    &__subtitulo,
    &__subtitulo .paragrafo{
      color: $cor-0;
    }

    .tabela--h3,
    .tabela--h3 .paragrafo{
      color: $cor-2;
    }

    &__subtitulo,
    &__subtitulo .paragrafo,
    .tabela--h3,
    .tabela--h3 .paragrafo {
      background-color: $cor-26;
      font-family: NotoSerif-SemiBold;
      text-align: justify;
      display: block;
      padding: $padding-caixas-r3;
      // border-bottom: 1px solid $cor-11;
      // @include borda-bot;

      .paragrafo,
      .paragrafo .negrito {
        font-family: NotoSerif-SemiBold;
      }

      &--h2,
      &--h2 .paragrafo {
        @include borda-bot;
        display: block;
        background-color: $cor-5;
        color: $cor-0;
        font-family: NotoSerif-SemiBold;
        padding: $padding-caixas-r3;
        border-bottom: 1px solid $cor-11;
      }

      &--h2.negrito,
      b {
        font-family: NotoSans-Regular;
        font-weight: initial;
      }

      &--h3,
      &--h3 .paragrafo {
        color: $cor-0;
        font-family: NotoSerif-SemiBold;
        padding: $padding-titulo-quadro-resumo;
        font-size: 1rem;
        display: block;
        border-bottom: 1px solid $cor-11;
      }

      &--h4,
      &--h4 .paragrafo {
        color: $cor-0;
        font-family: NotoSerif-Medium;
        padding: $padding-titulo-quadro-resumo;
        font-style: initial;
        font-size: 1rem;
        display: block;
      }

      &--h5,
      &--h5 .paragrafo {
        color: $cor-0;
        font-family: NotoSerif-Medium;
        padding: $padding-titulo-quadro-resumo;
        font-style: initial;
        font-size: 1rem;
        display: block;
      }
    }

    .tabela--h4,
    .tabela--h4 .paragrafo {
      @include borda-bot;
      display: block;
      background-color: $cor-5;
      color: $cor-3;
      font-family: NotoSerif-SemiBold;
      padding: $padding-caixas-r3;
    }
    .tabela--h4.negrito,
    b {
      font-family: NotoSans-Regular;
      font-weight: initial;
    }

    .tabela--h5,
    .tabela--h5 .paragrafo {
      color: $cor-1;
      font-family: NotoSerif-SemiBold;
      padding: $padding-titulo-quadro-resumo;
      font-size: 1rem;
      display: block;
    }

    .tabela--h6,
    .tabela--h6 .paragrafo {
      color: $cor-1;
      font-family: NotoSerif-Medium;
      padding: $padding-titulo-quadro-resumo;
      font-style: initial;
      font-size: 1rem;
      display: block;
    }

    &__destaque {
      background-color: $cor-8;
      border-top: 1px solid $cor-1;
      border-bottom: 1px solid $cor-1;
      padding: 0 10px;
      font-family: NotoSans-Regular;
      display: block;
    }

    .paragrafo {
      padding: $padding-caixas-r3;
      margin-bottom: 0;
    }

    &__legenda {
      border-top: 1px solid $cor-1;
      font-family: NotoSerif-Italic;
      padding: 5px 10px;
      text-align: justify;
      text-decoration: underline;
      -webkit-text-decoration-color: $cor-1;
      text-decoration-color: $cor-1;
      display: block;

      .destaque-primario {
        color: $cor-1;
      }
    }

   

    .celula.quadro-resumo__subtabela--hh3,
    .celula.tabela--h4 {
      padding: $padding-caixas-r3;
    }

    .celula.quadro-resumo__subtabela--hh3:first-child,
    .celula.tabela--h4:first-child {
      padding: $padding-titulo-quadro-resumo;
    }

    .celula.quadro-resumo__subtabela--hh4,
    .celula.tabela--h5 {
      padding: $padding-caixas-r3;
    }

    .celula.quadro-resumo__subtabela--hh4:first-child,
    .celula.tabela--h5:first-child {
      padding: $padding-titulo-quadro-resumo;
    }

    .celula.quadro-resumo__titulo-h1.width-30,
    .celula.tabela--h1.width-30 {
      max-width: 30%;
    }

    .celula.quadro-resumo__subtitulo.width-30,
    .celula.tabela--h3.width-30 {
      max-width: 30%;
    }

    .celula.quadro-resumo__titulo-h1.width-20,
    .celula.tabela--h1.width-20 {
      max-width: 20%;
    }

    .celula.quadro-resumo__subtitulo.width-20,
    .celula.tabela--h3.width-20 {
      max-width: 20%;
    }

    .celula.quadro-resumo__titulo-h1.width-10,
    .celula.tabela--h1.width-10 {
      max-width: 10%;
    }

    .celula.quadro-resumo__subtitulo.width-10,
    .celula.tabela--h3.width-10 {
      max-width: 10%;
    }

    .tabela-coluna.bg-laranja {
      background-color: #f58856;
    }

    .tabela-coluna.bg-amarelo {
      background-color: #ffeebc;
    }

    .tabela-coluna.bg-verde {
      background-color: #b3cac2;
    }
  }

  .tabela-coluna,
  .r3-tabela-coluna {
    &:not(:last-child) {
      border-right: 1px solid $cor-1;
    }
  }

  .quadro-resumo .tabela-caixa:last-child {
    margin-bottom: 0;
  }

  .tabela-caixa .quadro-resumo__subtitulo {
    color: $cor-2;
  }
}
