.#{$r3_mederi} {
  .quadro-formula {
    display: block;
    padding: $padding-caixas-r3;
    border: 2px dashed $cor-0;
    margin: $margem-caixas-r3;
    color: $cor-0;

    //CONSERTAR PARAGRAFO NA RAIZ
    .paragrafo {
      padding: 0;
      margin: 0;
      font-family: NotoSans-Bold;
    }
  }
}

// .#{$r3_mederi}.modo-noturno {
//   .quadro-formula {
//     border: 2px dashed $cor-0-modo-noturno;
//     background-color: $cor-24-modo-noturno;

//     //CONSERTAR PARAGRAFO MODO NOTURNO NA RAIZ
//     .quadro-formula__conteudo .paragrafo {
//       color: $cor-0-modo-noturno;
//     }
//   }
// }